[tool.poetry]
authors = ["Sylvain Boissel <sylvain.boissel@beta.gouv.fr>"]
description = "Integrate the French government Design System into a Django app"
license = "MIT"
name = "django-dsfr"
version = "0.13.0"
classifiers = [
  "Development Status :: 3 - Alpha",
  "Environment :: Web Environment",
  "Framework :: Django",
  "Framework :: Django :: 3.2",
  "Framework :: Django :: 4.0",
  "Framework :: Django :: 4.1",
  "Operating System :: OS Independent",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Topic :: Software Development :: Libraries",
  "Topic :: Utilities",
]
documentation = "https://entrepreneur-interet-general.github.io/django-dsfr"
homepage = "https://github.com/entrepreneur-interet-general/django-dsfr"
keywords = ["django"]
readme = "README.rst"
repository = "https://github.com/entrepreneur-interet-general/django-dsfr"

packages = [
  {include = "dsfr"},
]

include = ["LICENSE", "README.rst", "dsfr/static/dsfr/dist/*/*.*"]

[tool.poetry.dependencies]
Django = ">3.2.5"
python = "^3.8"
requests = "^2.26.0"
django-widget-tweaks = "^1.4.12"

[tool.poetry.group.dev.dependencies]
coverage = "^5.5"
django-distill = "^2.9.0"
docutils = "^0.17.1"
pytest = "^7.2.0"
twine = "^4.0.1"
djlint = "^1.12.0"
black = "^22.6.0"
django-csp = "^3.7"
django-extensions = "^3.2.1"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
