{% extends "dsfr/footer.html" %}
{% block footer_links %}
  {{ block.super }}
  <li class="fr-footer__bottom-item">
    <button id="footer__bottom-link__parametres-affichage"
            aria-controls="fr-theme-modal"
            data-fr-opened="false"
            class="fr-icon-theme-fill fr-link--icon-left fr-footer__bottom-link"
            data-fr-js-modal-button="true">
      Paramètres d’affichage
    </button>
  </li>
{% endblock footer_links %}
{% block footer_brand %}
  {% url 'index' as home_url %}
  <div class="fr-footer__brand fr-enlarge-link">
    <a id="footer-operator"
       href="{{ home_url }}"
       title="Retour à l’accueil du site - Nom de l’entité (ministère, secrétariat d’État, gouvernement)">
      <p class="fr-logo"
         title="{{ SITE_CONFIG.footer_brand|default:'république française' }}">
        {{ SITE_CONFIG.footer_brand_html| default_if_none:'république<br />française' | safe }}
      </p>
    </a>
  </div>
{% endblock footer_brand %}
