{% extends "dsfr/header.html" %}

{% block service_title %}
<a href="/" title="Accueil — {{ SITE_CONFIG.site_title }}">
    <p class="fr-header__service-title">{{ SITE_CONFIG.site_title }}</p>
</a>
{% endblock service_title %}

{% block service_tagline %}{{ SITE_CONFIG.site_tagline }}{% endblock service_tagline %}

{% block header_tools %}
<li>
    <button class="fr-btn--display fr-btn" aria-controls="fr-theme-modal" data-fr-opened="false">Paramètres d'affichage</button>
</li>
{% endblock header_tools %}

{# Leave burger_menu and main_menu blocks empty if the main menu is not used #}
{# block burger_menu #}
{# endblock burger_menu #}

{% block main_menu %}
    <div class="fr-header__menu fr-modal" id="fr-menu-mobile" aria-labelledby="fr-btn-menu-mobile">
      <div class="fr-container">
        <button type="button" class="fr-btn--close fr-btn" aria-controls="fr-menu-mobile">Fermer</button>
        <div class="fr-header__menu-links"></div>
        <nav role="navigation" class="fr-nav" id="fr-navigation" aria-label="Menu principal">
          <ul class="fr-nav__list">
            <li class="fr-nav__item">
              <a class="fr-nav__link" href="{% url 'index' %}" target="_self">Accueil</a>
            </li>
            <li class="fr-nav__item">
              <a class="fr-nav__link" href="{% url 'tags_index' %}" target="_self">Composants</a>
            </li>
            <li class="fr-nav__item">
              <a class="fr-nav__link" href="{% url 'page_form' %}" target="_self">Formulaire</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
{% endblock main_menu %}