{% extends "dsfr/header.html" %}
{% block header_tools %}
  <li>
    <button class="fr-btn--display fr-btn"
            aria-controls="fr-theme-modal"
            data-fr-opened="false">
      Paramètres d’affichage
    </button>
  </li>
{% endblock header_tools %}
{# Leave burger_menu and main_menu blocks empty if the main menu is not used #}
{% block burger_menu %}
  <div class="fr-header__navbar">
    <button class="fr-btn--search fr-btn"
            data-fr-opened="false"
            aria-controls="modal-search"
            id="fr-btn-search-mobile"
            title="Rechercher">
      Rechercher
    </button>
    <button class="fr-btn--menu fr-btn"
            data-fr-opened="false"
            aria-controls="fr-menu-mobile"
            id="fr-btn-menu-mobile"
            title="Menu">
      Menu
    </button>
  </div>
{% endblock burger_menu %}
{% block main_menu %}
  {% include "example_app/blocks/main_menu.html" %}
{% endblock main_menu %}
{% block header_search %}
  <div class="fr-header__search fr-modal" id="modal-search">
    <div class="fr-container fr-container-lg--fluid">
      <button class="fr-btn--close fr-btn"
              aria-controls="modal-search"
              title="Fermer">
        Fermer
      </button>
      <form action="{% url 'page_search' %}" method="get">
        <div class="fr-search-bar" id="search-bar" role="search">
          <label class="fr-label" for="search-bar-input">
            Rechercher
          </label>
          <input class="fr-input"
                 placeholder="Rechercher"
                 type="search"
                 id="query"
                 name="q">
          <button class="fr-btn" title="Rechercher">
            Rechercher
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock header_search %}
