{% load i18n %}
<div class="fr-translate fr-nav">
  {% get_current_language as LANGUAGE_CODE %}
  {% get_available_languages as LANGUAGES %}
  {% get_language_info_list for LANGUAGES as languages %}
  <div class="fr-nav__item">
    {% translate "Select language" as select_language %}
    <button class="fr-translate__btn fr-btn fr-btn--tertiary"
            aria-controls="translate-menu"
            aria-expanded="false"
            title="{{ select_language }}">
      {% get_language_info for LANGUAGE_CODE as current_lang %}{{ current_lang.code|upper }}
      <span class="fr-hidden-lg"> - {{ current_lang.name_local |title }}</span>
    </button>
    <div class="fr-collapse fr-translate__menu fr-menu" id="translate-menu">
      <ul class="fr-menu__list">
        {% for language in languages %}
          <li>
            <a class="fr-translate__language fr-nav__link"
               hreflang="{{ language.code|lower }}"
               lang="{{ language.code|lower }}"
               href="#"
               {% if language.code == LANGUAGE_CODE %}aria-current="true"{% endif %}>{{ language.code|upper }} - {{ language.name_local }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
