<div class="fr-header__menu fr-modal"
     id="fr-menu-mobile"
     aria-labelledby="fr-btn-menu-mobile">
  <div class="fr-container">
    <button type="button"
            class="fr-btn--close fr-btn"
            aria-controls="fr-menu-mobile">
      Fermer
    </button>
    <div class="fr-header__menu-links">
    </div>
    <nav role="navigation"
         class="fr-nav"
         id="fr-navigation"
         aria-label="Menu principal">
      <ul class="fr-nav__list">
        <li class="fr-nav__item">
          {% url 'index' as home_url %}
          <a class="fr-nav__link"
             href="{{ home_url }}"
             target="_self"
             {% if request.path == home_url %}aria-current="true"{% endif %}>Accueil</a>
        </li>
        <li class="fr-nav__item">
          <button class="fr-nav__btn"
                  aria-expanded="false"
                  aria-controls="menu-doc"
                  {% if '/doc-' in request.path %}aria-current="true"{% endif %}>
            Documentation
          </button>
          <div class="fr-collapse fr-menu" id="menu-doc">
            <ul class="fr-menu__list">
              <li>
                {% url 'doc_install' as doc_install_url %}
                <a class="fr-nav__link"
                   href="{{ doc_install_url }}"
                   target="_self"
                   {% if request.path == doc_install_url %}aria-current="true"{% endif %}>Installation</a>
              </li>
              <li>
                {% url 'doc_usage' as doc_usage_url %}
                <a class="fr-nav__link"
                   href="{{ doc_usage_url }}"
                   target="_self"
                   {% if request.path == doc_usage_url %}aria-current="true"{% endif %}>Utilisation</a>
              </li>
              <li>
                {% url 'doc_contributing' as doc_contributing_url %}
                <a class="fr-nav__link"
                   href="{{ doc_contributing_url }}"
                   target="_self"
                   {% if request.path == doc_contributing_url %}aria-current="true"{% endif %}>Contribuer</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="fr-nav__item">
          <button class="fr-nav__btn"
                  aria-expanded="false"
                  aria-controls="mega-menu-components"
                  aria-current="true">
            Composants
          </button>
          <div class="fr-collapse fr-mega-menu"
               id="mega-menu-components"
               tabindex="-1">
            <div class="fr-container fr-container--fluid fr-container-lg">
              <button class="fr-link--close fr-link" aria-controls="mega-menu-components">
                Fermer
              </button>
              <div class="fr-grid-row fr-grid-row-lg--gutters">
                <div class="fr-col-12 fr-col-lg-8 fr-col-offset-lg-4--right">
                  <div class="fr-mega-menu__leader">
                    <h2 class="fr-h4 fr-mb-2v">
                      Composants
                    </h2>
                    <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right fr-link--align-on-content"
                       href="{% url 'components_index' %}">Voir toute la rubrique</a>
                  </div>
                </div>
                {% for category in mega_menu_categories %}
                  <div class="fr-col-12 fr-col-lg-3">
                    <h5 class="fr-mega-menu__category">
                      <a class="fr-nav__link" href="#" target="_self">Composants implémentés</a>
                    </h5>
                    <ul class="fr-mega-menu__list">
                      {% for key, entry in category.items %}
                        <li>
                          {% url 'page_component' key as entry_url %}
                          <a class="fr-nav__link"
                             href="{{ entry_url }}"
                             {% if request.path == entry_url %}aria-current="true"{% endif %}
                             target="_self">{{ entry.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
        <li class="fr-nav__item">
          <button class="fr-nav__btn"
                  aria-expanded="false"
                  aria-controls="menu-forms"
                  {% if 'django-dsfr/form' in request.path %}aria-current="true"{% endif %}>
            Formulaires
          </button>
          <div class="fr-collapse fr-menu" id="menu-forms">
            <ul class="fr-menu__list">
              <li>
                {% url 'doc_form' as doc_form_url %}
                <a class="fr-nav__link"
                   href="{{ doc_form_url }}"
                   target="_self"
                   {% if request.path == doc_form_url %}aria-current="true"{% endif %}>Documentation</a>
              </li>
              <li>
                {% url 'page_form' as page_form_url %}
                <a class="fr-nav__link"
                   href="{{ page_form_url }}"
                   target="_self"
                   {% if request.path == page_form_url %}aria-current="true"{% endif %}>Exemple basique</a>
              </li>
              <li>
                {% url 'form_formset' as form_formset_url %}
                <a class="fr-nav__link"
                   href="{{ form_formset_url }}"
                   target="_self"
                   {% if request.path == form_formset_url %}aria-current="true"{% endif %}>Exemple avec formset</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="fr-nav__item">
          <button class="fr-nav__btn"
                  aria-expanded="false"
                  aria-controls="menu-resources"
                  {% if '/resources' in request.path %}aria-current="true"{% endif %}>
            Ressources
          </button>
          <div class="fr-collapse fr-menu" id="menu-resources">
            <ul class="fr-menu__list">
              <li>
                {% url 'resource_colors' as resource_colors_url %}
                <a class="fr-nav__link"
                   href="{{ resource_colors_url }}"
                   target="_self"
                   {% if request.path == resource_colors_url %}aria-current="true"{% endif %}>Couleurs</a>
              </li>
              <li>
                {% url 'resource_icons' as resource_icons_url %}
                <a class="fr-nav__link"
                   href="{{ resource_icons_url }}"
                   target="_self"
                   {% if request.path == resource_icons_url %}aria-current="true"{% endif %}>Icônes</a>
              </li>
              <li>
                {% url 'resource_pictograms' as resource_pictograms_url %}
                <a class="fr-nav__link"
                   href="{{ resource_pictograms_url }}"
                   target="_self"
                   {% if request.path == resource_pictograms_url %}aria-current="true"{% endif %}>Pictogrammes</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
