
<!DOCTYPE html>
<html lang="fr"
      data-fr-scheme="system"
      >
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
<link rel="stylesheet"
      href="/django-dsfr/static/dsfr/dist/dsfr/dsfr.min.css"
      integrity="sha384-4CMBG/bSDnHTO4BzePaP0c1y81c6oAT2XKpjVi1vzQl4AtMBSoAuUVv5XgRNXJAj">
<link rel="stylesheet"
      href="/django-dsfr/static/dsfr/dist/utility/utility.min.css"
      integrity="">
<link rel="stylesheet" href="/django-dsfr/static/css/dsfr-django-overrides.css">

<meta name="theme-color" content="#000091">
<!-- Définit la couleur de thème du navigateur (Safari/Android) -->

    
<link rel="apple-touch-icon"
      href="/django-dsfr/static/dsfr/dist/favicon/apple-touch-icon.png"
      integrity="sha384-bE/sjT09LYXMMjd/7ovUY40XBU2WQoLkIRw4/eBcHdBVsJOhoomJuSSa+qEFGku/" />
<!-- 180×180 -->
<link rel="icon"
      href="/django-dsfr/static/dsfr/dist/favicon/favicon.svg"
      type="image/svg+xml"
      integrity="sha384-z4gMU2V+U4skVvrlEwyCe+lUVDhliQY6Tg0az69xNkmyu4H84cy+uJZnWVkHfMrN" />
<link rel="shortcut icon"
      href="/django-dsfr/static/dsfr/dist/favicon/favicon.ico"
      type="image/x-icon"
      integrity="sha384-esZ1Wf54Wvb66vtrLBKzz2QEZciEIV9R+wc+w7C3e5mID8A1SgJpXXIc+3lY9YqP" />
<!-- 32×32 -->
<link rel="manifest"
      href="/django-dsfr/static/dsfr/dist/favicon/manifest.webmanifest"
      crossorigin="use-credentials"
      integrity="sha384-9rQ8jBh6MztX7GlSBVwj2yJEUaxKTCy3pYRLq1Qu57zkdJ3P5ftf6GyfYJwFuR7j" />


    
  <link rel="stylesheet" href="/django-dsfr/static/css/dsfr-code.css">
  <style>
    .example-textarea {
      background: var(--background-alt-grey);
      border: 1px solid var(--border-default-grey);
      color: var(--text-default-grey);
      padding: 1rem;
      margin: 2rem 0;
      font-family: monospace;
      font-size: 1rem;
    }

    p code, li code {
      background: var(--background-alt-grey);
      padding: 0.2em;
    }
  </style>


    
      <title>
        
          Formulaire - champ — Django-DSFR
        
      </title>
    
    <meta name="format-detection"
          content="telephone=no,date=no,address=no,email=no,url=no">

    
    
  </head>
  <body>
    
      

<div class="fr-skiplinks">
  <nav role="navigation"
       class="fr-container"
       aria-label="Accès rapide">
    <ul class="fr-skiplinks__list">
      
        <li>
          <a class="fr-link" href="#content">Contenu</a>
        </li>
      
        <li>
          <a class="fr-link" href="#fr-navigation">Menu</a>
        </li>
      
    </ul>
  </nav>
</div>

    

    
  
<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              
  
  <a href=""
     title="Accueil — Django-DSFR">
    <p class="fr-logo">
      République<br />française
    </p>
  </a>

            </div>
            
              
            
            
  
  <div class="fr-header__navbar">
    <button class="fr-btn--search fr-btn"
            data-fr-opened="false"
            aria-controls="modal-search"
            id="fr-btn-search-mobile"
            title="Rechercher">
      Rechercher
    </button>
    
    <button class="fr-btn--menu fr-btn"
            data-fr-opened="false"
            aria-controls="fr-menu-mobile"
            id="fr-btn-menu-mobile"
            title="Menu">
      Menu
    </button>
  </div>

          </div>
          <div class="fr-header__service">
            
  <a href="" title="Accueil — Django-DSFR">
    <p class="fr-header__service-title">
      Django-DSFR
      
    </p>
  </a>

            <p class="fr-header__service-tagline">
              
                Intégration du système de design de l’État pour les sites utilisant Django
              
            </p>
          </div>
        </div>
        <div class="fr-header__tools">
          <div class="fr-header__tools-links">
            <ul class="fr-btns-group">
              
  <li>
    <button class="fr-btn--display fr-btn"
            aria-controls="fr-theme-modal"
            data-fr-opened="false">
      Paramètres d’affichage
    </button>
  </li>
  

            </ul>
          </div>
          
  
  <div class="fr-header__search fr-modal"
       id="modal-search"
       aria-label="Rechercher">
    <div class="fr-container fr-container-lg--fluid">
      
      <button class="fr-btn--close fr-btn"
              aria-controls="modal-search"
              title="Fermer">
        Fermer
      </button>
      <form action="/django-dsfr/search/" method="get">
        <div class="fr-search-bar" id="search-bar" role="search">
          <label class="fr-label" for="search-bar-input">
            Rechercher
          </label>
          <input class="fr-input"
                 placeholder="Rechercher"
                 type="search"
                 id="query"
                 name="q">
          <button class="fr-btn" title="Rechercher">
            Rechercher
          </button>
        </div>
      </form>
    </div>
  </div>

        </div>
      </div>
    </div>
  </div>
  
  
<div class="fr-header__menu fr-modal"
     id="fr-menu-mobile"
     aria-labelledby="fr-btn-menu-mobile">
  <div class="fr-container">
    <button type="button"
            class="fr-btn--close fr-btn"
            aria-controls="fr-menu-mobile">
      Fermer
    </button>
    <div class="fr-header__menu-links">
    </div>
    
    <nav role="navigation"
         class="fr-nav"
         id="fr-navigation"
         aria-label="Menu principal">
      <ul class="fr-nav__list">
        <li class="fr-nav__item">
          
          <a class="fr-nav__link"
             href="/django-dsfr/"
             target="_self"
             >Accueil</a>
        </li>
        <li class="fr-nav__item">
          <button class="fr-nav__btn"
                  aria-expanded="false"
                  aria-controls="menu-doc"
                  >
            Documentation
          </button>
          <div class="fr-collapse fr-menu" id="menu-doc">
            <ul class="fr-menu__list">
              <li>
                
                <a class="fr-nav__link"
                   href="/django-dsfr/doc-install"
                   target="_self"
                   >Installation</a>
              </li>
              <li>
                
                <a class="fr-nav__link"
                   href="/django-dsfr/doc-usage"
                   target="_self"
                   >Utilisation</a>
              </li>
              <li>
                
                <a class="fr-nav__link"
                   href="/django-dsfr/doc-contributing"
                   target="_self"
                   >Contribuer</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="fr-nav__item">
          <button class="fr-nav__btn"
                  aria-expanded="false"
                  aria-controls="mega-menu-components"
                  aria-current="true">
            Composants
          </button>
          <div class="fr-collapse fr-mega-menu"
               id="mega-menu-components"
               tabindex="-1">
            <div class="fr-container fr-container--fluid fr-container-lg">
              <button class="fr-link--close fr-link" aria-controls="mega-menu-components">
                Fermer
              </button>
              
              <div class="fr-grid-row fr-grid-row-lg--gutters">
                <div class="fr-col-12 fr-col-lg-8 fr-col-offset-lg-4--right">
                  <div class="fr-mega-menu__leader">
                    <h2 class="fr-h4 fr-mb-2v">
                      Composants
                    </h2>
                    <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right fr-link--align-on-content"
                       href="/django-dsfr/components/">Voir la documentation</a>
                  </div>
                </div>
                
                  <div class="fr-col-12 fr-col-lg-3">
                    <h3 class="fr-mega-menu__category">
                      <a class="fr-nav__link" href="#" target="_self">Composants implémentés</a>
                    </h3>
                    <ul class="fr-mega-menu__list">
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/accordion/"
                               
                               target="_self">Accordéon</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/accordion_group/"
                               
                               target="_self">Accordéons – Groupe</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/alert/"
                               
                               target="_self">Alertes</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/badge/"
                               
                               target="_self">Badge</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/badge_group/"
                               
                               target="_self">Badges – Groupe</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/notice/"
                               
                               target="_self">Bandeau d’information importante</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/france_connect/"
                               
                               target="_self">Bouton FranceConnect</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/button/"
                               
                               target="_self">Boutons</a>
                          </li>
                        
                      
                    </ul>
                  </div>
                
                  <div class="fr-col-12 fr-col-lg-3">
                    <h3 class="fr-mega-menu__category">
                      <a class="fr-nav__link" href="#" target="_self">Composants implémentés</a>
                    </h3>
                    <ul class="fr-mega-menu__list">
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/button_group/"
                               
                               target="_self">Boutons – Groupe</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/css/"
                               
                               target="_self">CSS global</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/card/"
                               
                               target="_self">Carte</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/input/"
                               
                               target="_self">Champs de saisie</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/quote/"
                               
                               target="_self">Citation</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/content/"
                               
                               target="_self">Contenu média</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/header/"
                               
                               target="_self">En-tête</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/breadcrumb/"
                               
                               target="_self">Fil d’Ariane</a>
                          </li>
                        
                      
                    </ul>
                  </div>
                
                  <div class="fr-col-12 fr-col-lg-3">
                    <h3 class="fr-mega-menu__category">
                      <a class="fr-nav__link" href="#" target="_self">Composants implémentés</a>
                    </h3>
                    <ul class="fr-mega-menu__list">
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/form/"
                               
                               target="_self">Formulaire</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/form_field/"
                               aria-current="true"
                               target="_self">Formulaire - champ</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/consent/"
                               
                               target="_self">Gestionnaire de consentement</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/favicon/"
                               
                               target="_self">Icône de favoris</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/stepper/"
                               
                               target="_self">Indicateur d’étapes</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/tooltip/"
                               
                               target="_self">Infobulle</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/toggle/"
                               
                               target="_self">Interrupteur</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/js/"
                               
                               target="_self">JS global</a>
                          </li>
                        
                      
                    </ul>
                  </div>
                
                  <div class="fr-col-12 fr-col-lg-3">
                    <h3 class="fr-mega-menu__category">
                      <a class="fr-nav__link" href="#" target="_self">Composants implémentés</a>
                    </h3>
                    <ul class="fr-mega-menu__list">
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/follow/"
                               
                               target="_self">Lettre d’information et réseaux sociaux</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/link/"
                               
                               target="_self">Lien</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/skiplinks/"
                               
                               target="_self">Liens d’évitement</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/select/"
                               
                               target="_self">Listes déroulantes</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/sidemenu/"
                               
                               target="_self">Menu latéral</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/django_messages/"
                               
                               target="_self">Messages Django dans une alerte</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/callout/"
                               
                               target="_self">Mise en avant</a>
                          </li>
                        
                      
                        
                          <li>
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/#tabpanel-implemented-panel"
                               
                               target="_self"><strong>Voir tous les composants</strong></a>
                          </li>
                        
                      
                    </ul>
                  </div>
                
              </div>
            </div>
          </div>
        </li>
        <li class="fr-nav__item">
          <button class="fr-nav__btn"
                  aria-expanded="false"
                  aria-controls="menu-forms"
                  >
            Formulaires
          </button>
          <div class="fr-collapse fr-menu" id="menu-forms">
            <ul class="fr-menu__list">
              <li>
                
                <a class="fr-nav__link"
                   href="/django-dsfr/form/"
                   target="_self"
                   >Documentation</a>
              </li>
              <li>
                
                <a class="fr-nav__link"
                   href="/django-dsfr/form/example/"
                   target="_self"
                   >Exemple basique</a>
              </li>
              <li>
                
                <a class="fr-nav__link"
                   href="/django-dsfr/form/example-formset/"
                   target="_self"
                   >Exemple avec formset</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="fr-nav__item">
          <button class="fr-nav__btn"
                  aria-expanded="false"
                  aria-controls="menu-resources"
                  >
            Ressources
          </button>
          <div class="fr-collapse fr-menu" id="menu-resources">
            <ul class="fr-menu__list">
              <li>
                
                <a class="fr-nav__link"
                   href="/django-dsfr/resources/colors"
                   target="_self"
                   >Couleurs</a>
              </li>
              <li>
                
                <a class="fr-nav__link"
                   href="/django-dsfr/resources/icons"
                   target="_self"
                   >Icônes</a>
              </li>
              <li>
                
                <a class="fr-nav__link"
                   href="/django-dsfr/resources/pictograms"
                   target="_self"
                   >Pictogrammes</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>


</header>



    
<dialog id="fr-theme-modal"
        class="fr-modal"
        aria-labelledby="fr-theme-modal-title">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-btn--close fr-btn"
                    aria-describedby="fr-theme-modal-title"
                    aria-controls="fr-theme-modal">
              Fermer
            </button>
          </div>
          <div class="fr-modal__content">
            <h1 id="fr-theme-modal-title" class="fr-modal__title">
              Paramètres d’affichage
            </h1>
            <div id="fr-display" class="fr-form-group fr-display">
              <div class="fr-form-group">
                <fieldset class="fr-fieldset">
                  <legend class="fr-fieldset__legend fr-text--regular" id="-legend">
                    Choisissez un thème pour personnaliser l’apparence du site.
                  </legend>
                  <div class="fr-fieldset__content">
                    <div class="fr-radio-group fr-radio-rich">
                      <input value="light"
                             type="radio"
                             id="fr-radios-theme-light"
                             name="fr-radios-theme" />
                      <label class="fr-label" for="fr-radios-theme-light">
                        Thème clair
                      </label>
                      <div class="fr-radio-rich__img" data-fr-inject-svg>
                        <img src="/django-dsfr/static/dsfr/dist/artwork/light.svg" alt="" />
                        
                      </div>
                    </div>
                    <div class="fr-radio-group fr-radio-rich">
                      <input value="dark"
                             type="radio"
                             id="fr-radios-theme-dark"
                             name="fr-radios-theme" />
                      <label class="fr-label" for="fr-radios-theme-dark">
                        Thème sombre
                      </label>
                      <div class="fr-radio-rich__img" data-fr-inject-svg>
                        <img src="/django-dsfr/static/dsfr/dist/artwork/dark.svg" alt="" />
                        
                      </div>
                    </div>
                    <div class="fr-radio-group fr-radio-rich">
                      <input value="system"
                             type="radio"
                             id="fr-radios-theme-system"
                             name="fr-radios-theme" />
                      <label class="fr-label" for="fr-radios-theme-system">
                        Système
                        <span class="fr-hint-text">Utilise les paramètres système.</span>
                      </label>
                      <div class="fr-radio-rich__img" data-fr-inject-svg>
                        <img src="/django-dsfr/static/dsfr/dist/artwork/system.svg" alt="" />
                        
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>


    

    <div class="fr-container fr-mt-4w fr-mb-6w">
      
        

<nav role="navigation"
     class="fr-breadcrumb"
     aria-label="vous êtes ici :">
  <button type="button"
          class="fr-breadcrumb__button"
          aria-expanded="false"
          aria-controls="breadcrumb-1">
    Voir le fil d’Ariane
  </button>
  <div class="fr-collapse" id="breadcrumb-1">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" href="/django-dsfr">Accueil</a>
      </li>
      
        <li>
          <a class="fr-breadcrumb__link" href="/django-dsfr/components/">Composants</a>
        </li>
      
      <li>
        <a class="fr-breadcrumb__link" aria-current="page">Formulaire - champ</a>
      </li>
    </ol>
  </div>
</nav>

      
      <main id="content" role="main">
        
  <div class="fr-grid-row fr-grid-row--gutters fr-b__two-col">
    <div class="fr-col-12 fr-col-md-4">
      

<nav role="navigation"
     class="fr-sidemenu"
     aria-label="Menu latéral">
  <div class="fr-sidemenu__inner">
    <button type="button"
            class="fr-sidemenu__btn"
            aria-controls="fr-sidemenu-wrapper"
            aria-expanded="false">
      Dans cette rubrique
    </button>
    <div class="fr-collapse" id="fr-sidemenu-wrapper">
      
      <ul class="fr-sidemenu__list">
        
          
          <li class="fr-sidemenu__item">
            
              <a class="fr-sidemenu__link"
                 href="/django-dsfr/components/"
                 target="_self"
                 >Documentation</a>
            
          </li>
        
          
          <li class="fr-sidemenu__item fr-sidemenu__item--active">
            
              
                <button type="button"
                        class="fr-sidemenu__btn"
                        aria-expanded="true"
                        aria-controls="fr-sidemenu-item-2">
                  Composants implémentés
                </button>
                <div class="fr-collapse" id="fr-sidemenu-item-2">
                  <ul class="fr-sidemenu__list">
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/accordion/"
                             target="_self"
                             >Accordéon (accordion)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/accordion_group/"
                             target="_self"
                             >Accordéons – Groupe (accordion_group)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/alert/"
                             target="_self"
                             >Alertes (alert)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/badge/"
                             target="_self"
                             >Badge (badge)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/badge_group/"
                             target="_self"
                             >Badges – Groupe (badge_group)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/notice/"
                             target="_self"
                             >Bandeau d’information importante (notice)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/france_connect/"
                             target="_self"
                             >Bouton FranceConnect (france_connect)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/button/"
                             target="_self"
                             >Boutons (button)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/button_group/"
                             target="_self"
                             >Boutons – Groupe (button_group)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/css/"
                             target="_self"
                             >CSS global (css)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/card/"
                             target="_self"
                             >Carte (card)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/input/"
                             target="_self"
                             >Champs de saisie (input)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/quote/"
                             target="_self"
                             >Citation (quote)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/content/"
                             target="_self"
                             >Contenu média (content)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/header/"
                             target="_self"
                             >En-tête (header)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/breadcrumb/"
                             target="_self"
                             >Fil d’Ariane (breadcrumb)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/form/"
                             target="_self"
                             >Formulaire (form)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item fr-sidemenu__item--active">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/form_field/"
                             target="_self"
                             aria-current="page">Formulaire - champ (form_field)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/consent/"
                             target="_self"
                             >Gestionnaire de consentement (consent)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/favicon/"
                             target="_self"
                             >Icône de favoris (favicon)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/stepper/"
                             target="_self"
                             >Indicateur d’étapes (stepper)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/tooltip/"
                             target="_self"
                             >Infobulle (tooltip)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/toggle/"
                             target="_self"
                             >Interrupteur (toggle)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/js/"
                             target="_self"
                             >JS global (js)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/follow/"
                             target="_self"
                             >Lettre d’information et réseaux sociaux (follow)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/link/"
                             target="_self"
                             >Lien (link)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/skiplinks/"
                             target="_self"
                             >Liens d’évitement (skiplinks)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/select/"
                             target="_self"
                             >Listes déroulantes (select)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/sidemenu/"
                             target="_self"
                             >Menu latéral (sidemenu)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/django_messages/"
                             target="_self"
                             >Messages Django dans une alerte (django_messages)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/callout/"
                             target="_self"
                             >Mise en avant (callout)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/highlight/"
                             target="_self"
                             >Mise en exergue (highlight)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/pagination/"
                             target="_self"
                             >Pagination (pagination)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/theme_modale/"
                             target="_self"
                             >Paramètres d’affichage (theme_modale)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/footer/"
                             target="_self"
                             >Pied de page (footer)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/summary/"
                             target="_self"
                             >Sommaire (summary)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/table/"
                             target="_self"
                             >Tableau (table)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/tag/"
                             target="_self"
                             >Tag (tag)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/transcription/"
                             target="_self"
                             >Transcription (transcription)</a>
                        
                        
                      </li>
                    
                      <li class="fr-sidemenu__item">
                        
                          <a class="fr-sidemenu__link"
                             href="/django-dsfr/components/tile/"
                             target="_self"
                             >Tuile (tile)</a>
                        
                        
                      </li>
                    
                  </ul>
                </div>
              
            
          </li>
        
          
          <li class="fr-sidemenu__item">
            
              <a class="fr-sidemenu__link"
                 href="/django-dsfr/components/#tabpanel-notyetimplemented-panel"
                 target="_self"
                 >Composants non implémentés</a>
            
          </li>
        
        
      </ul>
    </div>
  </div>
</nav>

    </div>
    <div class="fr-col-12 fr-col-md-8 fr-py-2w">
      <h1>
        Formulaire - champ
      </h1>
      <ul>
        
        
      </ul>
      <h2>
        Documentation du tag
      </h2>
      <p>Returns the HTML for a form field snippet</p>
<p><strong>Tag name</strong>:
    dsfr_form_field</p>
<p><strong>Usage</strong>:
    <code>{% dsfr_form_field field %}</code></p>
      
        <h2>
          Rendu
        </h2>
        
      
    </div>
  </div>
  <br />

      </main>
    </div>

    
    

    
  

<footer class="fr-footer" role="contentinfo" id="footer">
  
  
  <div class="fr-container">
    <div class="fr-footer__body">
      
  
  
  
    <div class="fr-footer__brand fr-enlarge-link">
      <a id="footer-operator"
         href="/django-dsfr/"
         title="Retour à l’accueil du site - Django-DSFR - République française">
        
          <p class="fr-logo">
            République<br />française
          </p>
        
      </a>
    </div>
  

      <div class="fr-footer__content">
        
          <p class="fr-footer__content-desc">
            
              <a href="https://github.com/numerique-gouv/django-dsfr" 
target="_blank" rel="noreferrer noopener">Dépôt Github</a>
            
          </p>
        
        <ul class="fr-footer__content-list">
          <li class="fr-footer__content-item">
            <a target="_blank"
               rel="noopener external"
               title="legifrance.gouv.fr - Ouvre une nouvelle fenêtre"
               id="footer__content-link-legifrance"
               class="fr-footer__content-link"
               href="https://legifrance.gouv.fr">legifrance.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a target="_blank"
               rel="noopener external"
               title="info.gouv.fr - Ouvre une nouvelle fenêtre"
               id="footer__content-link-gouvernement"
               class="fr-footer__content-link"
               href="https://www.info.gouv.fr">info.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a target="_blank"
               rel="noopener external"
               title="service-public.fr - Ouvre une nouvelle fenêtre"
               id="footer__content-link-servicepublic"
               class="fr-footer__content-link"
               href="https://service-public.fr">service-public.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a target="_blank"
               rel="noopener external"
               title="data.gouv.fr - Ouvre une nouvelle fenêtre"
               id="footer__content-link-datagouv"
               class="fr-footer__content-link"
               href="https://data.gouv.fr">data.gouv.fr</a>
          </li>
          
          
        </ul>
      </div>
    </div>
    
    
    <div class="fr-footer__bottom">
      <ul class="fr-footer__bottom-list">
        
  
          <li class="fr-footer__bottom-item">
            <a class="fr-footer__bottom-link" href="#">Plan du site</a>
          </li>
          <li class="fr-footer__bottom-item">
            <a class="fr-footer__bottom-link" href="#">
              
                Accessibilité : non conforme
              
            </a>
          </li>
          <li class="fr-footer__bottom-item">
            <a class="fr-footer__bottom-link" href="#">Mentions légales</a>
          </li>
          <li class="fr-footer__bottom-item">
            <a class="fr-footer__bottom-link" href="#">Données personnelles</a>
          </li>
          <li class="fr-footer__bottom-item">
            <a class="fr-footer__bottom-link" href="#">Gestion des cookies</a>
          </li>
        
  <li class="fr-footer__bottom-item">
    <button id="footer__bottom-link__parametres-affichage"
            aria-controls="fr-theme-modal"
            data-fr-opened="false"
            class="fr-icon-theme-fill fr-link--icon-left fr-footer__bottom-link"
            data-fr-js-modal-button="true">
      Paramètres d’affichage
    </button>
  </li>

      </ul>
      <div class="fr-footer__bottom-copy">
        <p>
          
          Sauf mention explicite de propriété intellectuelle détenue par des tiers, les contenus de ce site sont proposés sous
          <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md"
             target="_blank"
             rel="noopener external"
             title="Licence etalab-2.0 - Ouvre une nouvelle fenêtre">licence etalab-2.0</a>
             
             
        </p>
      </div>
    </div>
  </div>
</footer>



    
<script type="module"
        src="/django-dsfr/static/dsfr/dist/dsfr/dsfr.module.min.js"
        integrity="sha384-TcXr68fg/siMFa6WMoFtntRfwfPoawk7Wz+pnrV+z17crqhROwg2/GRBOaw7Iysy"
         nonce="BHczpLkgN26FKXZ/mxq+1A=="></script>
<script nomodule
        src="/django-dsfr/static/dsfr/dist/dsfr/dsfr.nomodule.min.js"
        integrity="sha384-6D+aTUzuRoyopt1Ol/+T7WcnBMAwxhx67azX1vSEt98q7uN0FBKzfDHSytt+IWo9"
         nonce="BHczpLkgN26FKXZ/mxq+1A=="></script>


    
  <script src="/django-dsfr/static/js/common.js">
  </script>

  </body>
</html>
