{% load static dsfr_tags %}
<!DOCTYPE html>
<html lang="fr"
      data-fr-scheme="system"
      {% if SITE_CONFIG.mourning %}data-fr-mourning{% endif %}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% dsfr_css %}
    {% dsfr_favicon %}
    {% block extra_css %}
    {% endblock extra_css %}
    {% block title %}
      <title>
        {% if title %}
          {{ title }} — Système de Design de l’État
        {% else %}
          Système de Design de l’État
        {% endif %}
      </title>
    {% endblock title %}

    <meta name="format-detection" content="telephone=no,date=no,address=no,email=no,url=no">
  </head>
  <body>
    {% block skiplinks %}
      {% dsfr_skiplinks skiplinks %}
    {% endblock skiplinks %}
    {% block header %}
    {% endblock header %}
    {% dsfr_theme_modale %}
    <div class="fr-container fr-mt-4w fr-mb-6w">
      {% dsfr_breadcrumb %}
      <main id="content" role="main">
        {% block content %}
        {% endblock content %}
      </main>
    </div>
    {% block footer %}
      {% include "dsfr/footer.html" %}
    {% endblock footer %}
    {% dsfr_js nonce=request.csp_nonce %}
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
