{% load dsfr_tags %}
<div class="fr-callout {% if self.icon_class %}{{ self.icon_class }}{% endif %}">
  {% if self.title %}
    <{{ self.heading_tag | default:"p" }} class="fr-callout__title">
      {{ self.title }}
    </{{ self.heading_tag | default:"p" }}>
  {% endif %}
  <p class="fr-callout__text">
      {{ self.text }}
  </p>
  {% if self.button %}
    {% if self.button.onclick %}
      {% dsfr_button self.button %}
    {% elif self.button.url %}
      <a href="{{ self.button.url }}" class="fr-btn">{{ self.button.label }}</a>
    {% endif %}
  {% endif %}
</div>