{% load static %}
<link rel="apple-touch-icon" href="{% static 'dsfr/dist/favicon/apple-touch-icon.png' %}" integrity="{{ self.INTEGRITY_FAVICON_APPLE }}" /><!-- 180×180 -->
<link rel="icon" href="{% static 'dsfr/dist/favicon/favicon.svg' %}" type="image/svg+xml" integrity="{{ self.INTEGRITY_FAVICON_SVG }}" />
<link rel="shortcut icon" href="{% static 'dsfr/dist/favicon/favicon.ico' %}" type="image/x-icon" integrity="{{ self.INTEGRITY_FAVICON_ICO }}" /><!-- 32×32 -->
<link rel="manifest" href="{% static 'dsfr/dist/favicon/manifest.webmanifest' %}" crossorigin="use-credentials" integrity="{{ self.INTEGRITY_FAVICON_MANIFEST }}" />