<!-- Created on Wed Feb 09 11:14:00 2022 @author: alica.burlot -->
<!-- base template for formset -->
<!-- to be INCLUDED in the templates where form_base.html is extended, if you need formset -->
<!-- Check django comments for more information -->

{# Allows to display the fields with DSFR layout #}
{% load static dsfr_tags widget_tweaks %}

{# if formset #}
{% block form_set %}
    {% if formset %}
        <div class="formset-{{ formset.prefix }} formset-group">
        {{ formset.management_form }}

        {% block formset_title %}
        {% endblock formset_title %}

        {% for form in formset %}

            <div class="{% cycle 'row1' 'row2' %} formset-row-{{ formset.prefix }} formset" id="formset-0">
            {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
            {% for field in form.visible_fields %}

                {# everything that needs to be in the loop for each field for each form in formset #}
                {% block inside_formset_field %}
                {% endblock inside_formset_field %}

                {# Check the widget class and adds the DSFR class corresponding #}
                {# Select lists #}
                {% if field|widget_type == 'select' or field|widget_type == 'selectmultiple' or field|widget_type == 'selectdate' %}
                    <div class="fr-mt-5v">
                        <div class="fr-select-group {% if form_input.errors %}fr-select-group--error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}
                            </label>
                            {{ field|add_class:'fr-select'|add_error_class:'fr-select--error'|add_error_attr:"aria-describedby:select-error-desc-error"|add_error_attr:"id:select-error"|add_error_attr:"name:select-error" }}
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="select-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                {# SplitDateTimeWidget : currently doesn't work #}
                {% elif field|widget_type == 'splitdatetimewidget' or field|widget_type == 'splithiddendatetimewidget' %}
                    <div class="fr-mt-5v">
                        <div class="fr-select-group {% if form_input.errors %}fr-select-group--error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}
                            </label>
                            <p id="text-input-error-desc-error" class="fr-error-text">Attention : pas encore fonctionnel</p>
                            {{ field|add_class:'fr-select'|add_error_class:'fr-select--error'|add_error_attr:"aria-describedby:select-error-desc-error"|add_error_attr:"id:select-error"|add_error_attr:"name:select-error" }}
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="select-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                {# Single checkbox #}
                {% elif field|widget_type == 'checkboxinput' %}
                    <div class="fr-mt-5v">
                        <div class="fr-checkbox-group {% if error in field.errors %}fr-checkbox-group--error{% endif %}">
                            {{ field|attr:"type:checkbox"|add_error_attr:"aria-describedby:checkboxes-error-desc-error"|add_error_attr:"id:checkbox-error"|add_error_attr:"name:checkbox-error" }}
                            <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}
                            </label>
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="checkbox-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                {# Multiple checkboxes. For some reason, the checkboxes are displayed small #}
                {% elif field|widget_type == 'checkboxselectmultiple' %}
                    <div class="fr-mt-5v">
                        <div class="fr-form-group">
                            <fieldset class="fr-fieldset{% if field.errors %} fr-fieldset--error{% endif %}" id="checkboxes-{{ field.auto_id }}" aria-labelledby="{{ field.auto_id }}-legend{% if field.errors %} {{ field.auto_id }}-messages{% endif %}">
                                <legend class="fr-fieldset__legend fr-text--regular" id="{{ field.auto_id }}-legend">
                                  {{ field.label_tag }}{% if field.field.required %} *{% endif %}
                                  {% if field.help_text %}<span class="fr-hint-text">{{ field.help_text }}</span>{% endif %}
                                </legend>

                                <div class="fr-fieldset__content">
                                  {% if field.field.disabled %}
                                    {{ field|attr:"disabled" }}
                                  {% else %}
                                    {{ field }}
                                  {% endif %}
                                </div>
                                {% if field.errors %}
                                <div id="{{ field.auto_id }}-messages" class="fr-error-text">
                                  {{ field.errors }}
                                </div>
                              {% endif %}
                              </fieldset>
                        </div>
                    </div>

                {# Radio buttons. For some reason, the radio buttons are displayed small #}
                {% elif field|widget_type == 'radioselect' %}
                    <div class="fr-mt-5v">
                        <div class="fr-form-group">
                            <fieldset class="fr-fieldset{% if field.errors %} fr-fieldset--error{% endif %}" id="radio-{{ field.auto_id }}" aria-labelledby="{{ field.auto_id }}-legend{% if field.errors %} {{ field.auto_id }}-messages{% endif %}">
                                <legend class="fr-fieldset__legend fr-text--regular" id="{{ field.auto_id }}-legend">
                                  {{ field.label_tag }}{% if field.field.required %} *{% endif %}
                                  {% if field.help_text %}<span class="fr-hint-text">{{ field.help_text }}</span>{% endif %}
                                </legend>

                                <div class="fr-fieldset__content">
                                    {% if field.field.disabled %}
                                      {{ field|add_class:"fr-radio-group"|attr:"disabled" }}
                                    {% else %}
                                      {{ field|add_class:"fr-radio-group" }}
                                    {% endif %}
                                </div>
                                {% if field.errors %}
                                  <div class="fr-messages-group fr-error-text" id="{{ field.auto_id }}-messages">
                                      {{ field.errors }}
                                  </div>
                                {% endif %}
                              </fieldset>
                        </div>
                    </div>

                {# Date input #}
                {% elif field|widget_type == 'dateinput' %}
                    <div class="fr-mt-5v">
                        <div class="fr-input-group {% if form_input.errors %}fr-input-group--error{% endif %}">
                                <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}
                            </label>
                            {{ field|add_class:'fr-input'|attr:"type:date" }}
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="text-input-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                {# Datetime input. Currently doesn't work on FireFox #}
                {% elif field|widget_type == 'datetimeinput' %}
                    <div class="fr-mt-5v">
                        <div class="fr-input-group {% if form_input.errors %}fr-input-group--error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}
                            </label>
                            {{ field|add_class:'fr-input'|attr:"type:datetime-local" }}
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="text-input-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                {# Time input #}
                {% elif field|widget_type == 'timeinput' %}
                    <div class="fr-mt-5v">
                        <div class="fr-input-group">
                            <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}
                            </label>
                            {{ field|add_class:'fr-input'|attr:"type:time" }}
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="text-input-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                {# Textarea #}
                {% elif field|widget_type == 'textarea' %}
                    <div class="fr-mt-5v">
                        <div class="fr-input-group {% if form_input.errors %}fr-input-group--error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}
                            </label>
                            {% if field.field.required %}
                                <div class="fr-input-wrap fr-fi-alert-line">
                                    {{ field|add_class:"fr-input"|add_error_class:"fr-input--error" }}
                                </div>
                            {% else %}
                                {{ field|add_class:"fr-input"|add_error_class:"fr-input--error" }}
                            {% endif %}
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="text-input-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                {# File input #}
                {# ClearableFileInput can't be cleared #}
                {% elif 'file' in field|widget_type %}
                    <div class="fr-mt-5v">
                        <div class="fr-upload-group {% if form_input.errors %}fr-upload-group--error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}
                            </label>

                            {% if field|widget_type == 'clearablefileinput' %}
                                <p id="text-input-error-desc-error" class="fr-error-text">Attention : ne peux pas être vidé</p>
                            {% endif %}

                            {{ field|add_class:'fr-upload' }}
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="text-input-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                {# Number input #}
                {% elif field|widget_type == 'numberinput' %}
                    <div class="fr-mt-5v">
                        <div class="fr-select-group">
                            <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}
                            </label>
                            {{ field|add_class:'fr-input'|attr:"pattern:[0-9]*"|attr:"inputmode:numeric"|attr:"type:number"|add_error_class:"fr-input--error" }}
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="text-input-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                {# URL input #}
                {% elif field|widget_type == 'urlinput' %}
                    <div class="fr-mt-5v">
                        <div class="fr-input-group {% if form_input.errors %}fr-input-group--error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}
                            </label>
                            {% if field.field.required %}
                                <div class="fr-input-wrap fr-fi-alert-line">
                                    {{ field|add_class:'fr-input'|add_error_class:"fr-input--error"|attr:"placeholder:https://"|add_error_class:"fr-input--error" }}
                                </div>
                            {% else %}
                                {{ field|add_class:'fr-input'|add_error_class:"fr-input--error"|attr:"placeholder:https://" }}
                            {% endif %}
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="text-input-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                {# Text input or other cases #}
                {% else %}
                    <div class="fr-mt-5v">
                        <div class="fr-input-group {% if form_input.errors %}fr-input-group--error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}
                            </label>
                            {% if field.field.required %}
                                <div class="fr-input-wrap fr-fi-alert-line">
                                    {{ field|add_class:'fr-input'|add_error_class:"fr-input--error" }}
                                </div>
                            {% else %}
                                {{ field|add_class:'fr-input'|add_error_class:"fr-input--error" }}
                            {% endif %}
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="text-input-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="fr-mt-2w">
                <a id="remove-0" href="javascript:void(0)" onclick="removeFormset(0)">Supprimer cet élément <span class="fr-fi-delete-line" aria-hidden="true"></span><br/><br/></a>
            </div>

        </div>
        {% endfor %}

        <button id="add-form" type="button" class="fr-btn fr-btn--secondary fr-fi-add-circle-line fr-btn--icon-right fr-mt-1w">Ajouter un élément</button>
        </div>
        <br/>
    {% endif %}
{% endblock form_set %}
    
{% block extra_js %}
    <script src="{% static 'formsets.js' %}"></script>
{% endblock %}
