<!-- Created on Mon Jan 24 13:32:00 2022 @author: alica.burlot -->
<!-- base template for all forms -->
<!-- to be extended in the templates where a form is displayed -->
<!-- Check django comments for more information -->

<!-- extends your base.html template -->
{% extends 'example_app/base.html' %}
{% load static %}

{# comment : Allows to display the fields with DSFR layout #}
{% load static dsfr_tags %}

{# comment : Widget tweaks allows to add classes to the html elements with add_class #}
{% load widget_tweaks %}

{% comment %}
Radio button and multiple checkboxes :
    -Help text under each button/checkbox : 
        In your forms.py, in the ChoiceField or MultipleChoiceField,
        instead of choices=(("a", "label a"), ("b", "label b"), ...),
        put choices=(("a", {"label":"label a", "help_text":"help text a"}), ("b", {"label":"label b", "help_text":"help text b"})),

    -Horizontal list of buttons/checkboxes :
        In your forms.py, in the RadioSelect widget or the CheckboxSelectMultiple widget,
        put attrs={"class":"fr-fieldset--inline"}
{% endcomment %}


{% block extra_css %}
{% endblock extra_css %}


{% block content %}
    {# comment : Everything that needs to be outside the form, before #}
    {% block before-form %}
    {% endblock before-form %}

    <div id="form">
        <form method="POST" enctype="multipart/form-data" id="form-base">
            {% csrf_token %}
            
            {# comment : Everything that needs to be in the form but before the fields (form title for example) #}
            {% block head-form %}
            {% endblock head-form %}
            
            {# comment : If you need to add formsets before the form #}
            {% block extra-formset-before %}
            {% endblock extra-formset-before %}
            
            {# comment : The fields #}
            {% for field in form.visible_fields %}
                {# comment : Everything that needs to be in the for loop #}
                {% block inside-form %}
                {% endblock inside-form %}
                
                {# comment : Check the widget class and adds the DSFR class corresponding #}
                {# comment : Select lists #}
                {% if field|widget_type == 'select' or field|widget_type == 'selectmultiple' or field|widget_type == 'selectdate' %}
                    <div class="fr-mt-5v">
                        <div class="fr-select-group {% if form_input.errors %}fr-select-group--error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}                        
                            </label>
                            {{ field|add_class:'fr-select'|add_error_class:'fr-select--error'|add_error_attr:"aria-describedby:select-error-desc-error"|add_error_attr:"id:select-error"|add_error_attr:"name:select-error" }}
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="select-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>         
                    
                {# comment : SplitDateTimeWidget : currently doesn't work #}
                {% elif field|widget_type == 'splitdatetimewidget' or field|widget_type == 'splithiddendatetimewidget' %}
                    <div class="fr-mt-5v">
                        <div class="fr-select-group {% if form_input.errors %}fr-select-group--error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}                        
                            </label>
                            <p id="text-input-error-desc-error" class="fr-error-text">Attention : pas encore fonctionnel</p>
                            {{ field|add_class:'fr-select'|add_error_class:'fr-select--error'|add_error_attr:"aria-describedby:select-error-desc-error"|add_error_attr:"id:select-error"|add_error_attr:"name:select-error" }}
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="select-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>    
                 
                {# comment : Single checkbox #}
                {% elif field|widget_type == 'checkboxinput' %}   
                    <div class="fr-mt-5v">
                        <div class="fr-checkbox-group {% if error in field.errors %}fr-checkbox-group--error{% endif %}">
                            {{ field|attr:"type:checkbox"|add_error_attr:"aria-describedby:checkboxes-error-desc-error"|add_error_attr:"id:checkbox-error"|add_error_attr:"name:checkbox-error" }}
                            <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}
                            </label>
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="checkbox-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                
                {# comment : Multiple checkboxes #}
                {% elif field|widget_type == 'checkboxselectmultiple' %}            
                    <div class="fr-mt-5v">
                        <div class="fr-form-group">
                            <fieldset class="fr-fieldset {% if field.field.widget.attrs.class == 'fr-fieldset--inline'%}fr-fieldset--inline{% endif %} {% if error in field.errors %}fr-fieldset--error{% endif %}" {% if error in field.errors %}aria-labelledby="checkboxes-error-legend checkboxes-error-desc-error" role="group"{% endif %}>
                                <legend class="fr-fieldset__legend fr-text--regular" id="checkboxes-{% if error in field.errors %}error-{% endif %}legend-{{ field.label|slugify }}">
                                    {{ field.label }} {% if field.field.required %}*{% endif %}
                                    {% if field.help_text %}
                                        <span class="fr-hint-text">{{ field.help_text }}</span>
                                    {% endif %}
                                </legend>
                                <div class="fr-fieldset__content"> 
                                    {{ field|attr:"type:checkbox"|add_error_attr:"id:checkboxes-error"|add_error_attr:"name:checkboxes-error"|remove_attr:"class" }}
                                </div>
                                {% if form.errors %}
                                    {% for error in field.errors %}
                                        <p id="checkboxes-error-desc-error" class="fr-error-text">{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                            </fieldset>
                        </div>
                    </div>
                
                {# comment : Radio buttons. For some reason, the radio buttons are displayed small #}
                {% elif field|widget_type == 'radioselect' %}
                    <div class="fr-mt-5v">
                        <div class="fr-form-group">
                            <fieldset class="fr-fieldset {% if field.field.widget.attrs.class == 'fr-fieldset--inline'%}fr-fieldset--inline{% endif %} {% if error in field.errors %}fr-fieldset--error{% endif %}" {% if error in field.errors %}aria-labelledby="radio-error-legend radio-error-desc-error" role="group"{% endif %}>
                                <legend class="fr-fieldset__legend fr-text--regular" id='radio-{% if error in field.errors %}error-{% endif %}legend-{{ field.label|slugify }}'>
                                    {{ field.label }} {% if field.field.required %}*{% endif %}
                                    {% if field.help_text %}
                                        <span class="fr-hint-text">{{ field.help_text }}</span>
                                    {% endif %}
                                </legend>
                                <div class="fr-fieldset__content">
                                    {{ field|attr:"type:radio"|add_error_attr:"aria-describedby:radio-error-desc-error"|add_error_attr:"id:radio-error"|add_error_attr:"name:radio-error"|remove_attr:"class" }}
                                </div>
                                {% if form.errors %}
                                    {% for error in field.errors %}
                                        <p id="radio-error-desc-error" class="fr-error-text">{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                            </fieldset>
                        </div>
                    </div>
                  
                {# comment : Date input #}   
                {% elif field|widget_type == 'dateinput' %}
                    <div class="fr-mt-5v">
                        <div class="fr-input-group {% if form_input.errors %}fr-input-group--error{% endif %}">
                                <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}
                            </label>            
                            {{ field|add_class:'fr-input'|attr:"type:date" }}
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="text-input-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                
                {# comment : Datetime input. Currently doesn't work on FireFox #}    
                {% elif field|widget_type == 'datetimeinput' %}
                    <div class="fr-mt-5v">
                        <div class="fr-input-group {% if form_input.errors %}fr-input-group--error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}
                            </label>
                            {{ field|add_class:'fr-input'|attr:"type:datetime-local" }}
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="text-input-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                
                {# comment : Time input #}   
                {% elif field|widget_type == 'timeinput' %}
                    <div class="fr-mt-5v">
                        <div class="fr-input-group">
                            <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}
                            </label>
                            {{ field|add_class:'fr-input'|attr:"type:time" }}
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="text-input-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                
                {# comment : Textarea #}
                {% elif field|widget_type == 'textarea' %}   
                    <div class="fr-mt-5v">
                        <div class="fr-input-group {% if form_input.errors %}fr-input-group--error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}
                            </label>
                            {% if field.field.required %}
                                <div class="fr-input-wrap fr-icon-alert-line">
                                    {{ field|add_class:"fr-input"|add_error_class:"fr-input--error" }}
                                </div>
                            {% else %}                        
                                {{ field|add_class:"fr-input"|add_error_class:"fr-input--error" }}
                            {% endif %}
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="text-input-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                
                {# comment : File input #}  
                {# comment : ClearableFileInput can't be cleared #} 
                {% elif 'file' in field|widget_type %}
                    <div class="fr-mt-5v">
                        <div class="fr-upload-group {% if form_input.errors %}fr-upload-group--error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}
                            </label>
                            
                            {% if field|widget_type == 'clearablefileinput' %}
                                <p id="text-input-error-desc-error" class="fr-error-text">Attention : ne peux pas être vidé</p>
                            {% endif %}
                                         
                            {{ field|add_class:'fr-upload' }}
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="text-input-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div> 
                    </div>
                
                {# comment : Number input #}
                {% elif field|widget_type == 'numberinput' %}
                    <div class="fr-mt-5v">
                        <div class="fr-select-group">
                            <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}
                            </label>
                            {{ field|add_class:'fr-input'|attr:"pattern:[0-9]*"|attr:"inputmode:numeric"|attr:"type:number"|add_error_class:"fr-input--error" }}
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="text-input-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                
                {# comment : URL input #}
                {% elif field|widget_type == 'urlinput' %}
                    <div class="fr-mt-5v">
                        <div class="fr-input-group {% if form_input.errors %}fr-input-group--error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}
                            </label>
                            {% if field.field.required %}
                                <div class="fr-input-wrap fr-icon-alert-line">
                                    {{ field|add_class:'fr-input'|add_error_class:"fr-input--error"|attr:"placeholder:https://"|add_error_class:"fr-input--error" }}
                                </div>
                            {% else %}                        
                                {{ field|add_class:'fr-input'|add_error_class:"fr-input--error"|attr:"placeholder:https://" }}
                            {% endif %}  
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="text-input-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                
                {# comment : Text input or other cases #}
                {% else %}   
                    <div class="fr-mt-5v">
                        <div class="fr-input-group {% if form_input.errors %}fr-input-group--error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="fr-label">
                                {{ field.label }} {% if field.field.required %}*{% endif %}
                                {% if field.help_text %}
                                    <span class="fr-hint-text">{{ field.help_text }}</span>
                                {% endif %}
                            </label>
                            {% if field.field.required %}
                                <div class="fr-input-wrap fr-icon-alert-line">
                                    {{ field|add_class:'fr-input'|add_error_class:"fr-input--error" }}
                                </div>
                            {% else %}                        
                                {{ field|add_class:'fr-input'|add_error_class:"fr-input--error" }}
                            {% endif %}       
                            {% if form.errors %}
                                {% for error in field.errors %}
                                    <p id="text-input-error-desc-error" class="fr-error-text">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %} 
            {% endfor %}
            
            {# comment : If you need to add formsets after the form #}
            {% block extra-formset-after %}
            {% endblock extra-formset-after %}
            
            {# comment : Everything that needs to be in the form but after the fields (the buttons for example) #}
            <div class="foot-form">   
                {% block foot-form %}
                {% endblock foot-form %}
            </div>
        </form>
    </div>
    
    {# comment : Everything that needs to be outside the form, after #}
    {% block after-form %}
    {% endblock after-form %}
{% endblock content %} 
