<div class="fr-connect-group">
  <button class="fr-connect{% if self.plus %} fr-connect--plus{% endif %}"
          id="{{ self.id }}">
    <span class="fr-connect__login">S’identifier avec</span>
    <span class="fr-connect__brand">FranceConnect</span>
  </button>
  <p>
    {% if self.plus %}
      <a href="https://franceconnect.gouv.fr/france-connect-plus"
         target="_blank"
         rel="noopener"
         title="Qu’est-ce que FranceConnect+ ? - nouvelle fenêtre">Qu’est-ce que FranceConnect+ ?</a>
    {% else %}
      <a href="https://franceconnect.gouv.fr/"
         target="_blank"
         rel="noopener"
         title="Qu’est-ce que FranceConnect ? - nouvelle fenêtre">Qu’est-ce que FranceConnect ?</a>
    {% endif %}
  </p>
</div>
