{% load static %}
<script type="module"
        src="{% static 'dsfr/dist/dsfr/dsfr.module.min.js' %}"
        {% if self.USE_INTEGRITY_CHECKSUMS %}integrity="{{ self.INTEGRITY_JS_MODULE }}"{% endif %}
        {% if self.nonce %} nonce="{{self.nonce}}"{% endif %}></script>
<script nomodule
        src="{% static 'dsfr/dist/dsfr/dsfr.nomodule.min.js' %}"
        {% if self.USE_INTEGRITY_CHECKSUMS %}integrity="{{ self.INTEGRITY_JS_NOMODULE }}"{% endif %}
        {% if self.nonce %} nonce="{{self.nonce}}"{% endif %}></script>
