<div class="fr-input-group {% if self.extra_classes %} {{ self.extra_classes }}{% endif %}">
    <label class="fr-label" for="{{ self.id }}">
      {{ self.label }}
    </label>
    <input
        class="fr-input"
        type="{{ self.type|default:'text' }}"
        id="{{ self.id }}"
        name="{{ self.id }}"
        {% if self.onchange %}onchange="{{self.onchange}}"{% endif %}
        {% if self.value %}value="{{ self.value }}"{% endif %}
        {% if self.min %}min="{{ self.min }}"{% endif %}
        {% if self.max %}max="{{ self.max }}"{% endif %}
    />
</div>