{% load dsfr_tags %}
<nav role="navigation" class="fr-pagination" aria-label="Pagination">
    <ul class="fr-pagination__list">
        <li>
            <a
            class="fr-pagination__link fr-pagination__link--first"
            {% if page_obj.has_previous %}
                href="?{% url_remplace_params page=1 %}"
            {% endif %}
            >
                Première page
            </a>
        </li>
        <li>
            <a
            class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label"
            {% if page_obj.has_previous %}
                href="?{% url_remplace_params page=page_obj.previous_page_number %}"
            {% endif %}
            >
                Page précédente
            </a>
        </li>

        {% if page_obj.pages_list %}
            {% for item in page_obj.pages_list %}
                {% if item == "…" %}
                <li>
                    <a class="fr-pagination__link fr-displayed-lg">
                        …
                    </a>
                </li>
                {% else %}
                <li>
                    <a 
                    class="fr-pagination__link"
                    {% if item == page_obj.number %}aria-current="page"{% endif %}
                    title="Page {{ item }}"
                    href="?{% url_remplace_params page=item %}"
                    >
                        {{ item }}
                    </a>
                </li>
                {% endif %}

            {% endfor%}
        {% else %}
        <li>
            <a 
            class="fr-pagination__link" aria-current="page" title="Page {{ page_obj.number }}"
            href="?{% url_remplace_params page=page_obj.number %}"
            >
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </a>
        </li>
        {% endif %}

        <li>
            <a
            class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label"
            {% if page_obj.has_next %}
                href="?{% url_remplace_params page=page_obj.next_page_number %}"
            {% endif %}
            >
                Page suivante
            </a>
        </li>
        <li>
            <a
            class="fr-pagination__link fr-pagination__link--last"
            {% if page_obj.has_next %}
                href="?{% url_remplace_params page=page_obj.paginator.num_pages %}"
            {% endif %}
            >
                Dernière page
            </a>
        </li>
    </ul>
</nav>