<div class="fr-select-group {% if self.extra_classes %} {{ self.extra_classes }}{% endif %}">
    <label class="fr-label" for="{{ self.id }}">
        {{ self.label }} :
    </label>
    <select
        class="fr-select"
        id="{{ self.id }}"
        name="{{ self.id }}"
        {% if self.onchange %}onchange="{{self.onchange}}"{% endif %}
        >
        <option value=""
            {% if self.selected == None %} selected{% endif %}
            {% if self.default.disabled %} disabled{% endif %}
            {% if self.default.hidden %} hidden{% endif %}
        >
            {{ self.default.text }}
        </option>
        {% for option in self.options %}
        <option value="{{ option.value }}" {% if self.selected == option.value %} selected{% endif %}>
            {{ option.text }}
        </option>
        {% endfor %}
    </select>
</div>