{% load i18n %}
<div class="fr-stepper">
  <{{ self.heading_tag | default:"h2" }} class="fr-stepper__title">
  <span class="fr-stepper__state">
    {% with current_step_id=self.current_step_id total_steps=self.total_steps %}
      {% blocktranslate %}Step {{ current_step_id }} of {{ total_steps }}{% endblocktranslate %}
    {% endwith %}
  </span>
  {{ self.current_step_title }}
  </{{ self.heading_tag | default:"h2" }}>
  <div class="fr-stepper__steps"
       data-fr-current-step="{{ self.current_step_id }}"
       data-fr-steps="{{ self.total_steps }}">
  </div>
  {% if self.next_step_title %}
    <p class="fr-stepper__details">
      <span class="fr-text--bold">{% translate "Next step:" %}</span> {{ self.next_step_title }}
    </p>
  {% endif %}
</div>
