<div class="fr-table{% if self.extra_classes %} {{ self.extra_classes }}{% endif %}">
  <div class="fr-table__wrapper">
    <div class="fr-table__container">
      <div class="fr-table__content">
        <table>
          <caption>{{ self.caption }}</caption>
          {% if self.header %}
            <thead>
              <tr>
                {% for cell in self.header %}
                  <th scope="col">
                    {{ cell }}
                  </th>
                {% endfor %}
              </tr>
            </thead>
          {% endif %}
          <tbody>
            {% for row in self.content %}
              <tr>
                {% for cell in row %}
                  <td>
                    {{ cell }}
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
