<div {% if id %}id="{{ id }}-component" {% endif %}
     class="{{ dsfr_table_classes }}">
  <div class="fr-table__wrapper">
    <div class="fr-table__container">
      <div class="fr-table__content">
        <table {% if id %} id="{{ id }}"{% endif %}>
          {% if dsfr_table_caption %}
            <caption>
              {{ dsfr_table_caption }}
              {% if dsfr_table_captiondesc %}
                <div class="fr-table__caption__desc">
                  {{ dsfr_table_captiondesc }}
                </div>
              {% endif %}
            </caption>
          {% endif %}
          {{ dsfr_table_content }}
        </table>
      </div>
    </div>
  </div>
</div>
