<div class="{{ field.field.widget.dsfr_wrapper_class|default:"" }}{% if field.errors %} fr-toggle--error{% endif %}">
  {{ field }}
  {% if field.label %}
    {{ field.label_tag }}
  {% endif %}
  {% if field.help_text %}
    <p class="fr-hint-text" id="{{ field.field.widget.attrs.id }}-hint-text">
      {{ field.help_text }}
    </p>
  {% endif %}
  {% if field.errors %}
    <div class="fr-messages-group"
         id="{{ field.field.widget.attrs.id }}-messages"
         aria-live="polite">
      {% for error in field.errors %}
        <p class="fr-message fr-message--error"
           id="{{ field.field.widget.attrs.id }}-message-error">
          {{ error }}
        </p>
      {% endfor %}
    </div>
  {% endif %}
</div>
