
<!DOCTYPE html>
<html lang="fr"
      data-fr-scheme="system"
      >
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
<link rel="stylesheet"
      href="/django-dsfr/static/dsfr/dist/dsfr/dsfr.min.css"
      integrity="sha384-0Wd1nuoasQg34LmqHZNv9t0sGc6FlxNcUC7O56SJSKhI4mgZ51FVEZ8v0QnPFN3U">
<link rel="stylesheet"
      href="/django-dsfr/static/dsfr/dist/utility/utility.min.css"
      integrity="sha384-pXDVyHuMGAo5xGPXnYhmr6rOcGwSZsrAVCJdC6J2PRRxcJL9jFMK//yzaUqMhsBw">
<link rel="stylesheet" href="/django-dsfr/static/css/dsfr-django-overrides.css">

<meta name="theme-color" content="#000091">
<!-- Définit la couleur de thème du navigateur (Safari/Android) -->

    
<link rel="apple-touch-icon"
      href="/django-dsfr/static/dsfr/dist/favicon/apple-touch-icon.png" />
<!-- 180×180 -->
<link rel="icon"
      href="/django-dsfr/static/dsfr/dist/favicon/favicon.svg"
      type="image/svg+xml" />
<link rel="shortcut icon"
      href="/django-dsfr/static/dsfr/dist/favicon/favicon.ico"
      type="image/x-icon" />
<!-- 32×32 -->
<link rel="manifest"
      href="/django-dsfr/static/dsfr/dist/favicon/manifest.webmanifest"
      crossorigin="use-credentials" />


    
  <link rel="stylesheet" href="/django-dsfr/static/css/dsfr-code.css">
  <style>
    .example-textarea {
      background: var(--background-alt-grey);
      border: 1px solid var(--border-default-grey);
      color: var(--text-default-grey);
      padding: 1rem;
      margin: 2rem 0;
      font-family: monospace;
      font-size: 1rem;
    }

    p code, li code {
      background: var(--background-alt-grey);
      padding: 0.2em;
    }
  </style>


    
      <title>
        
          Interrupteur — Django-DSFR
        
      </title>
    
    <meta name="format-detection"
          content="telephone=no,date=no,address=no,email=no,url=no">

    
    
  </head>
  <body>
    
      

<div class="fr-skiplinks">
  <nav role="navigation"
       class="fr-container"
       aria-label="Accès rapide">
    <ul class="fr-skiplinks__list">
      
        <li>
          <a class="fr-link" href="#content">Contenu</a>
        </li>
      
        <li>
          <a class="fr-link" href="#fr-navigation">Menu</a>
        </li>
      
    </ul>
  </nav>
</div>

    

    
  
<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              
  <p class="fr-logo">
    République<br />française
  </p>

            </div>
            
              
            
            
  
  <div class="fr-header__navbar">
    <button class="fr-btn--search fr-btn"
            data-fr-opened="false"
            aria-controls="modal-search"
            id="fr-btn-search-mobile"
            title="Rechercher">
      Rechercher
    </button>
    
    <button class="fr-btn--menu fr-btn"
            data-fr-opened="false"
            aria-controls="fr-menu-mobile"
            id="fr-btn-menu-mobile"
            title="Menu">
      Menu
    </button>
  </div>

          </div>
          <div class="fr-header__service">
            
  <a href="" title="Accueil — Django-DSFR">
    <p class="fr-header__service-title">
      Django-DSFR
      
    </p>
  </a>

            <p class="fr-header__service-tagline">
              
                Intégration du système de design de l’État pour les sites utilisant Django
              
            </p>
          </div>
        </div>
        
          <div class="fr-header__tools">
            
              <div class="fr-header__tools-links">
                <ul class="fr-btns-group">
                  
  <li>
    <button class="fr-btn--display fr-btn"
            aria-controls="fr-theme-modal"
            data-fr-opened="false">
      Paramètres d’affichage
    </button>
  </li>
  

                </ul>
              </div>
            
            
  
  <div class="fr-header__search fr-modal" id="modal-search">
    <div class="fr-container fr-container-lg--fluid">
      
      <button class="fr-btn--close fr-btn"
              aria-controls="modal-search"
              title="Fermer">
        Fermer
      </button>
      <form action="/django-dsfr/search/" method="get">
        <div class="fr-search-bar" id="search-bar" role="search">
          <label class="fr-label" for="query">
            Rechercher
          </label>
          <input class="fr-input"
                 placeholder="Rechercher"
                 type="search"
                 id="query"
                 name="q">
          <button class="fr-btn" title="Rechercher">
            Rechercher
          </button>
        </div>
      </form>
    </div>
  </div>

          </div>
        
      </div>
    </div>
  </div>
  
  
<div class="fr-header__menu fr-modal"
     id="fr-menu-mobile"
     aria-labelledby="fr-btn-menu-mobile">
  <div class="fr-container">
    <button type="button"
            class="fr-btn--close fr-btn"
            aria-controls="fr-menu-mobile">
      Fermer
    </button>
    <div class="fr-header__menu-links">
    </div>
    
    <nav role="navigation"
         class="fr-nav"
         id="fr-navigation"
         aria-label="Menu principal">
      <ul class="fr-nav__list">
        <li class="fr-nav__item">
          
          <a class="fr-nav__link"
             href="/django-dsfr/"
             target="_self"
             >Accueil</a>
        </li>
        <li class="fr-nav__item">
          <button class="fr-nav__btn"
                  aria-expanded="false"
                  aria-controls="menu-doc"
                  >
            Documentation
          </button>
          <div class="fr-collapse fr-menu" id="menu-doc">
            <ul class="fr-menu__list">
              <li>
                
                <a class="fr-nav__link"
                   href="/django-dsfr/doc-install"
                   target="_self"
                   >Installation</a>
              </li>
              <li>
                
                <a class="fr-nav__link"
                   href="/django-dsfr/doc-usage"
                   target="_self"
                   >Utilisation</a>
              </li>
              <li>
                
                <a class="fr-nav__link"
                   href="/django-dsfr/doc-contributing"
                   target="_self"
                   >Contribuer</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="fr-nav__item">
          <button class="fr-nav__btn"
                  aria-expanded="false"
                  aria-controls="mega-menu-components"
                  aria-current="true">
            Composants
          </button>
          <div class="fr-collapse fr-mega-menu"
               id="mega-menu-components"
               tabindex="-1">
            <div class="fr-container fr-container--fluid fr-container-lg">
              <button class="fr-link--close fr-link" aria-controls="mega-menu-components">
                Fermer
              </button>
              
              <div class="fr-grid-row fr-grid-row-lg--gutters">
                <div class="fr-col-12 fr-col-lg-8 fr-col-offset-lg-4--right">
                  <div class="fr-mega-menu__leader">
                    <h2 class="fr-h4 fr-mb-2v">
                      Composants
                    </h2>
                    <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right fr-link--align-on-content"
                       href="/django-dsfr/components/">Voir la documentation</a>
                  </div>
                </div>
                
                  <div class="fr-col-12 fr-col-lg-3">
                    <h3 class="fr-mega-menu__category">
                      <a class="fr-nav__link" href="#" target="_self">Composants implémentés</a>
                    </h3>
                    <ul class="fr-mega-menu__list">
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/accordion/"
                               
                               target="_self">Accordéon</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/accordion_group/"
                               
                               target="_self">Accordéons – Groupe</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/alert/"
                               
                               target="_self">Alertes</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/badge/"
                               
                               target="_self">Badge</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/badge_group/"
                               
                               target="_self">Badges – Groupe</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/notice/"
                               
                               target="_self">Bandeau d’information importante</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/france_connect/"
                               
                               target="_self">Bouton FranceConnect</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/button/"
                               
                               target="_self">Boutons</a>
                          </li>
                        
                      
                    </ul>
                  </div>
                
                  <div class="fr-col-12 fr-col-lg-3">
                    <h3 class="fr-mega-menu__category">
                      <a class="fr-nav__link" href="#" target="_self">Composants implémentés</a>
                    </h3>
                    <ul class="fr-mega-menu__list">
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/button_group/"
                               
                               target="_self">Boutons – Groupe</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/css/"
                               
                               target="_self">CSS global</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/card/"
                               
                               target="_self">Carte</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/input/"
                               
                               target="_self">Champs de saisie</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/quote/"
                               
                               target="_self">Citation</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/content/"
                               
                               target="_self">Contenu média</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/header/"
                               
                               target="_self">En-tête</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/breadcrumb/"
                               
                               target="_self">Fil d’Ariane</a>
                          </li>
                        
                      
                    </ul>
                  </div>
                
                  <div class="fr-col-12 fr-col-lg-3">
                    <h3 class="fr-mega-menu__category">
                      <a class="fr-nav__link" href="#" target="_self">Composants implémentés</a>
                    </h3>
                    <ul class="fr-mega-menu__list">
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/form_field/"
                               
                               target="_self">Formulaire - champ</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/consent/"
                               
                               target="_self">Gestionnaire de consentement</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/favicon/"
                               
                               target="_self">Icône de favoris</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/stepper/"
                               
                               target="_self">Indicateur d’étapes</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/tooltip/"
                               
                               target="_self">Infobulle</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/toggle/"
                               aria-current="true"
                               target="_self">Interrupteur</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/js/"
                               
                               target="_self">JS global</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/follow/"
                               
                               target="_self">Lettre d’information et réseaux sociaux</a>
                          </li>
                        
                      
                    </ul>
                  </div>
                
                  <div class="fr-col-12 fr-col-lg-3">
                    <h3 class="fr-mega-menu__category">
                      <a class="fr-nav__link" href="#" target="_self">Composants implémentés</a>
                    </h3>
                    <ul class="fr-mega-menu__list">
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/link/"
                               
                               target="_self">Lien</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/skiplinks/"
                               
                               target="_self">Liens d’évitement</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/select/"
                               
                               target="_self">Listes déroulantes</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/sidemenu/"
                               
                               target="_self">Menu latéral</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/django_messages/"
                               
                               target="_self">Messages Django dans une alerte</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/callout/"
                               
                               target="_self">Mise en avant</a>
                          </li>
                        
                      
                        
                          <li>
                            
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/highlight/"
                               
                               target="_self">Mise en exergue</a>
                          </li>
                        
                      
                        
                          <li>
                            <a class="fr-nav__link"
                               href="/django-dsfr/components/#tabpanel-implemented-panel"
                               
                               target="_self"><strong>Voir tous les composants</strong></a>
                          </li>
                        
                      
                    </ul>
                  </div>
                
              </div>
            </div>
          </div>
        </li>
        <li class="fr-nav__item">
          <button class="fr-nav__btn"
                  aria-expanded="false"
                  aria-controls="menu-forms"
                  >
            Formulaires
          </button>
          <div class="fr-collapse fr-menu" id="menu-forms">
            <ul class="fr-menu__list">
              <li>
                
                <a class="fr-nav__link"
                   href="/django-dsfr/form/"
                   target="_self"
                   >Documentation</a>
              </li>
              <li>
                
                <a class="fr-nav__link"
                   href="/django-dsfr/form/example/"
                   target="_self"
                   >Exemple basique</a>
              </li>
              <li>
                
                <a class="fr-nav__link"
                   href="/django-dsfr/form/example-formset/"
                   target="_self"
                   >Exemple avec formset</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="fr-nav__item">
          <button class="fr-nav__btn"
                  aria-expanded="false"
                  aria-controls="menu-resources"
                  >
            Ressources
          </button>
          <div class="fr-collapse fr-menu" id="menu-resources">
            <ul class="fr-menu__list">
              <li>
                
                <a class="fr-nav__link"
                   href="/django-dsfr/resources/colors"
                   target="_self"
                   >Couleurs</a>
              </li>
              <li>
                
                <a class="fr-nav__link"
                   href="/django-dsfr/resources/icons"
                   target="_self"
                   >Icônes</a>
              </li>
              <li>
                
                <a class="fr-nav__link"
                   href="/django-dsfr/resources/pictograms"
                   target="_self"
                   >Pictogrammes</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>


</header>



    

    <div class="fr-container fr-mt-4w fr-mb-6w">
      
        

<nav role="navigation"
     class="fr-breadcrumb"
     aria-label="vous êtes ici :">
  <button type="button"
          class="fr-breadcrumb__button"
          aria-expanded="false"
          aria-controls="breadcrumb-cpttiumyhgdtjmyt">
    Voir le fil d’Ariane
  </button>
  <div class="fr-collapse" id="breadcrumb-cpttiumyhgdtjmyt">
    <ol class="fr-breadcrumb__list">
      <li>
        <a class="fr-breadcrumb__link" href="/django-dsfr">Accueil</a>
      </li>
      
        <li>
          <a class="fr-breadcrumb__link" href="/django-dsfr/components/">Composants</a>
        </li>
      
      <li>
        <a class="fr-breadcrumb__link" aria-current="page">Interrupteur</a>
      </li>
    </ol>
  </div>
</nav>

      
      <main id="content" role="main">
        
  <div class="fr-grid-row fr-grid-row--gutters fr-b__two-col">
    <div class="fr-col-12 fr-col-md-4">
      

<nav role="navigation"
     class="fr-sidemenu"
     aria-label="Menu latéral">
  <div class="fr-sidemenu__inner">
    <button type="button"
            class="fr-sidemenu__btn"
            aria-controls="fr-sidemenu-ehdpzehzctskndzm-wrapper"
            aria-expanded="false">
      Dans cette rubrique
    </button>
    <div class="fr-collapse" id="fr-sidemenu-ehdpzehzctskndzm-wrapper">
      
      <ul class="fr-sidemenu__list">
        
          
          <li class="fr-sidemenu__item">
            
              <a class="fr-sidemenu__link"
                 href="/django-dsfr/components/"
                 target="_self"
                 >Documentation</a>
            
          </li>
        
          
          <li class="fr-sidemenu__item fr-sidemenu__item--active">
            
              <button type="button"
                      class="fr-sidemenu__btn"
                      aria-expanded="true"
                      aria-controls="fr-sidemenu-ehdpzehzctskndzm-item-2">
                Composants implémentés
              </button>
              <div class="fr-collapse"
                   id="fr-sidemenu-ehdpzehzctskndzm-item-2">
                <ul class="fr-sidemenu__list">
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/accordion/"
                           target="_self"
                           >Accordéon (accordion)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/accordion_group/"
                           target="_self"
                           >Accordéons – Groupe (accordion_group)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/alert/"
                           target="_self"
                           >Alertes (alert)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/badge/"
                           target="_self"
                           >Badge (badge)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/badge_group/"
                           target="_self"
                           >Badges – Groupe (badge_group)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/notice/"
                           target="_self"
                           >Bandeau d’information importante (notice)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/france_connect/"
                           target="_self"
                           >Bouton FranceConnect (france_connect)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/button/"
                           target="_self"
                           >Boutons (button)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/button_group/"
                           target="_self"
                           >Boutons – Groupe (button_group)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/css/"
                           target="_self"
                           >CSS global (css)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/card/"
                           target="_self"
                           >Carte (card)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/input/"
                           target="_self"
                           >Champs de saisie (input)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/quote/"
                           target="_self"
                           >Citation (quote)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/content/"
                           target="_self"
                           >Contenu média (content)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/header/"
                           target="_self"
                           >En-tête (header)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/breadcrumb/"
                           target="_self"
                           >Fil d’Ariane (breadcrumb)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/form_field/"
                           target="_self"
                           >Formulaire - champ (form_field)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/consent/"
                           target="_self"
                           >Gestionnaire de consentement (consent)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/favicon/"
                           target="_self"
                           >Icône de favoris (favicon)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/stepper/"
                           target="_self"
                           >Indicateur d’étapes (stepper)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/tooltip/"
                           target="_self"
                           >Infobulle (tooltip)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item fr-sidemenu__item--active">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/toggle/"
                           target="_self"
                           aria-current="page">Interrupteur (toggle)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/js/"
                           target="_self"
                           >JS global (js)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/follow/"
                           target="_self"
                           >Lettre d’information et réseaux sociaux (follow)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/link/"
                           target="_self"
                           >Lien (link)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/skiplinks/"
                           target="_self"
                           >Liens d’évitement (skiplinks)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/select/"
                           target="_self"
                           >Listes déroulantes (select)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/sidemenu/"
                           target="_self"
                           >Menu latéral (sidemenu)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/django_messages/"
                           target="_self"
                           >Messages Django dans une alerte (django_messages)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/callout/"
                           target="_self"
                           >Mise en avant (callout)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/highlight/"
                           target="_self"
                           >Mise en exergue (highlight)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/pagination/"
                           target="_self"
                           >Pagination (pagination)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/theme_modale/"
                           target="_self"
                           >Paramètres d’affichage (theme_modale)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/footer/"
                           target="_self"
                           >Pied de page (footer)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/summary/"
                           target="_self"
                           >Sommaire (summary)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/table/"
                           target="_self"
                           >Tableau (table)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/tag/"
                           target="_self"
                           >Tag (tag)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/transcription/"
                           target="_self"
                           >Transcription (transcription)</a>
                      
                      
                    </li>
                  
                    <li class="fr-sidemenu__item">
                      
                        <a class="fr-sidemenu__link"
                           href="/django-dsfr/components/tile/"
                           target="_self"
                           >Tuile (tile)</a>
                      
                      
                    </li>
                  
                </ul>
              </div>
            
          </li>
        
          
          <li class="fr-sidemenu__item">
            
              <a class="fr-sidemenu__link"
                 href="/django-dsfr/components/#tabpanel-notyetimplemented-panel"
                 target="_self"
                 >Composants non implémentés</a>
            
          </li>
        
        
      </ul>
    </div>
  </div>
</nav>

    </div>
    <div class="fr-col-12 fr-col-md-8 fr-py-2w">
      <h1>
        Interrupteur
      </h1>
      <ul>
        
          <li>
            
<a class="fr-link fr-icon-external-link-line fr-link--icon-right fr-link--lg"
   href="https://www.systeme-de-design.gouv.fr/elements-d-interface/composants/interrupteur"
   target="_blank" rel="noopener noreferrer">
  Voir la page de documentation du composant sur le Système de Design de l’État
  
    <span class="fr-sr-only">Ouvre une nouvelle fenêtre</span>
  
</a>

          </li>
        
        
          <li>
            
<a class="fr-link fr-icon-external-link-line fr-link--icon-right fr-link--lg"
   href="https://main--ds-gouv.netlify.app/example/component/toggle/"
   target="_blank" rel="noopener noreferrer">
  Voir la page d’exemple du Système de Design de l’État
  
    <span class="fr-sr-only">Ouvre une nouvelle fenêtre</span>
  
</a>

          </li>
        
        
          <li>
            
<a class="fr-link fr-icon-external-link-line fr-link--icon-right fr-link--lg"
   href="https://storybook.systeme-de-design.gouv.fr/?path=/docs/toggle--docs"
   target="_blank" rel="noopener noreferrer">
  Voir la page du composant sur Storybook
  
    <span class="fr-sr-only">Ouvre une nouvelle fenêtre</span>
  
</a>

          </li>
        
      </ul>
      <h2>
        Documentation du tag
      </h2>
      <p>Returns a toggle item. Takes a dict as parameter, with the following structure:</p>
<div class="dsfr-code"><pre><span></span><code><span class="n">data_dict</span> <span class="o">=</span> <span class="p">{</span>
    <span class="s2">&quot;label&quot;</span><span class="p">:</span> <span class="s2">&quot;Label of the item&quot;</span><span class="p">,</span>
    <span class="s2">&quot;help_text&quot;</span><span class="p">:</span> <span class="s2">&quot;(Optional) string explaining the intended use of the item&quot;</span><span class="p">,</span>
    <span class="s2">&quot;is_disabled&quot;</span><span class="p">:</span> <span class="s1">&#39;&#39;&#39;(Optional) boolean that indicate if the toggle is activated</span>
<span class="s1">    (default: False)&#39;&#39;&#39;</span><span class="p">,</span>
    <span class="s2">&quot;extra_classes&quot;</span><span class="p">:</span> <span class="s2">&quot;(Optional) string with names of extra classes&quot;</span><span class="p">,</span>
    <span class="s2">&quot;id&quot;</span><span class="p">:</span> <span class="s2">&quot;(optional) Id of the item&quot;</span><span class="p">,</span>
<span class="p">}</span>
</code></pre></div>

<p>All of the keys of the dict can be passed directly as named parameters of the tag.</p>
<p>Relevant extra_classes:</p>
<ul>
<li><code>fr-toggle--label-left</code>: sets the label on the left side</li>
<li><code>fr-toggle--border-bottom</code>: adds a border at the bottom</li>
</ul>
<p><strong>Tag name</strong>:
    dsfr_toggle</p>
<p><strong>Usage</strong>:
    <code>{% dsfr_toggle data_dict %}</code></p>
      
        <h2>
          Exemples
        </h2>
        
          <h3 class="fr-mt-3w">
            Exemple 1
          </h3>
          <div class="fr-my-2w">
            
            
              
              
                <section class="fr-accordion">
  <h3 class="fr-accordion__title">
  <button type="button"
          class="fr-accordion__btn"
          aria-expanded="false"
          aria-controls="accordion-zxrywyktsfzwtbcd">
    Données de l’exemple
  </button>
  </h3>
  <div class="fr-collapse" id="accordion-zxrywyktsfzwtbcd">
    <pre class="dsfr-code">{&#x27;label&#x27;: &#x27;Interrupteur basique&#x27;}</pre>
  </div>
</section>

              
            
            
          </div>
          
            


<div class="fr-toggle">
  <input type="checkbox"
         
         class="fr-toggle__input"
         
         id="toggle-tktzkamiuqiqweer">
  <label class="fr-toggle__label"
         for="toggle-tktzkamiuqiqweer"
         data-fr-checked-label="Activé"
         data-fr-unchecked-label="Désactivé">
    Interrupteur basique
  </label>
  
</div>

          
        
          <h3 class="fr-mt-3w">
            Exemple 2
          </h3>
          <div class="fr-my-2w">
            
            
              
              
                <section class="fr-accordion">
  <h3 class="fr-accordion__title">
  <button type="button"
          class="fr-accordion__btn"
          aria-expanded="false"
          aria-controls="accordion-hjlrjrxymuzvkdsc">
    Données de l’exemple
  </button>
  </h3>
  <div class="fr-collapse" id="accordion-hjlrjrxymuzvkdsc">
    <pre class="dsfr-code">{&#x27;label&#x27;: &#x27;Interrupteur basique désactivé avec aide&#x27;, &#x27;help_text&#x27;: &#x27;Vous ne pouvez pas utiliser cet interrupteur.&#x27;, &#x27;is_disabled&#x27;: True}</pre>
  </div>
</section>

              
            
            
          </div>
          
            


<div class="fr-toggle">
  <input type="checkbox"
         disabled
         class="fr-toggle__input"
         aria-describedby="toggle-zrxakcjezohmyzyo-hint-text"
         id="toggle-zrxakcjezohmyzyo">
  <label class="fr-toggle__label"
         for="toggle-zrxakcjezohmyzyo"
         data-fr-checked-label="Activé"
         data-fr-unchecked-label="Désactivé">
    Interrupteur basique désactivé avec aide
  </label>
  
    <p class="fr-hint-text" id="toggle-zrxakcjezohmyzyo-hint-text">
      Vous ne pouvez pas utiliser cet interrupteur.
    </p>
  
</div>

          
        
          <h3 class="fr-mt-3w">
            Exemple 3
          </h3>
          <div class="fr-my-2w">
            
            
              
              
                <section class="fr-accordion">
  <h3 class="fr-accordion__title">
  <button type="button"
          class="fr-accordion__btn"
          aria-expanded="false"
          aria-controls="accordion-phpyiwauzfjwljrg">
    Données de l’exemple
  </button>
  </h3>
  <div class="fr-collapse" id="accordion-phpyiwauzfjwljrg">
    <pre class="dsfr-code">{&#x27;label&#x27;: &#x27;Interrupteur complet aligné à gauche&#x27;, &#x27;help_text&#x27;: &#x27;Cet interrupteur présente toutes les options disponibles&#x27;, &#x27;is_disabled&#x27;: False, &#x27;extra_classes&#x27;: &#x27;fr-toggle--label-left fr-toggle--border-bottom&#x27;, &#x27;id&#x27;: &#x27;toggle-full&#x27;}</pre>
  </div>
</section>

              
            
            
          </div>
          
            


<div class="fr-toggle fr-toggle--label-left fr-toggle--border-bottom">
  <input type="checkbox"
         
         class="fr-toggle__input"
         aria-describedby="toggle-full-hint-text"
         id="toggle-full">
  <label class="fr-toggle__label"
         for="toggle-full"
         data-fr-checked-label="Activé"
         data-fr-unchecked-label="Désactivé">
    Interrupteur complet aligné à gauche
  </label>
  
    <p class="fr-hint-text" id="toggle-full-hint-text">
      Cet interrupteur présente toutes les options disponibles
    </p>
  
</div>

          
        
      
    </div>
  </div>
  <br />

      </main>
    </div>

    
  <aside>
    

<div class="fr-follow">
  <div class="fr-container">
    <div class="fr-grid-row">
      
        <div class="fr-col-12 fr-col-md-8">
          <div class="fr-follow__newsletter">
            <div>
              <h2 class="fr-h5">
                Abonnez-vous à notre lettre d’information
              </h2>
              <p class="fr-text--sm">
                Nous n’avons pas de lettre d’information mais vous pouvez trouver
                les dernières publications sur cette page.
              </p>
            </div>
            <div class="fr-btns-group fr-btns-group--inline-md">
              
              <a class="fr-btn"
                 href="https://github.com/numerique-gouv/django-dsfr/releases"
                 target="_blank"
                 rel="noopener external"
                 title="S’abonner à notre lettre d’information - Ouvre une nouvelle fenêtre">
                S’abonner
              </a>
            </div>
          </div>
        </div>
      
      
        <div class="fr-col-12 fr-col-md-4">
          <div class="fr-follow__social">
            <h2 class="fr-h5">
              Suivez-nous <br />sur les réseaux sociaux
            </h2>
            <ul class="fr-btns-group">
              
                <li>
                  <a class="fr-icon-github-fill fr-btn"
                     href="https://github.com/numerique-gouv/django-dsfr"
                     target="_blank"
                     title="Github - Ouvre une nouvelle fenêtre"
                     rel="noopener external">
                    Github
                  </a>
                </li>
              
            </ul>
          </div>
        </div>
      
    </div>
  </div>
</div>

  </aside>


    
  

<footer class="fr-footer" role="contentinfo" id="footer">
  
  
  <div class="fr-container">
    <div class="fr-footer__body">
      
  
  
  
    <div class="fr-footer__brand fr-enlarge-link">
      <a id="footer-operator"
         href="/django-dsfr/"
         title="Retour à l’accueil du site - Django-DSFR - République française">
        
          <p class="fr-logo">
            République<br />française
          </p>
        
      </a>
    </div>
  

      <div class="fr-footer__content">
        
          <p class="fr-footer__content-desc">
            
              <a href="https://github.com/numerique-gouv/django-dsfr" 
target="_blank" rel="noreferrer noopener">Dépôt Github</a>
            
          </p>
        
        <ul class="fr-footer__content-list">
          <li class="fr-footer__content-item">
            <a target="_blank"
               rel="noopener external"
               title="info.gouv.fr - Ouvre une nouvelle fenêtre"
               id="footer__content-link-gouvernement"
               class="fr-footer__content-link"
               href="https://www.info.gouv.fr">info.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a target="_blank"
               rel="noopener external"
               title="service-public.fr - Ouvre une nouvelle fenêtre"
               id="footer__content-link-servicepublic"
               class="fr-footer__content-link"
               href="https://service-public.fr">service-public.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a target="_blank"
               rel="noopener external"
               title="legifrance.gouv.fr - Ouvre une nouvelle fenêtre"
               id="footer__content-link-legifrance"
               class="fr-footer__content-link"
               href="https://legifrance.gouv.fr">legifrance.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a target="_blank"
               rel="noopener external"
               title="data.gouv.fr - Ouvre une nouvelle fenêtre"
               id="footer__content-link-datagouv"
               class="fr-footer__content-link"
               href="https://data.gouv.fr">data.gouv.fr</a>
          </li>
          
          
        </ul>
      </div>
    </div>
    
    
    <div class="fr-footer__bottom">
      <ul class="fr-footer__bottom-list">
        
  
          <li class="fr-footer__bottom-item">
            <a class="fr-footer__bottom-link" href="#">Plan du site</a>
          </li>
          <li class="fr-footer__bottom-item">
            <a class="fr-footer__bottom-link" href="#">
              
                Accessibilité : non conforme
              
            </a>
          </li>
          <li class="fr-footer__bottom-item">
            <a class="fr-footer__bottom-link" href="#">Mentions légales</a>
          </li>
          <li class="fr-footer__bottom-item">
            <a class="fr-footer__bottom-link" href="#">Données personnelles</a>
          </li>
          <li class="fr-footer__bottom-item">
            <a class="fr-footer__bottom-link" href="#">Gestion des cookies</a>
          </li>
        
  <li class="fr-footer__bottom-item">
    <button id="footer__bottom-link__parametres-affichage"
            aria-controls="fr-theme-modal"
            data-fr-opened="false"
            class="fr-icon-theme-fill fr-link--icon-left fr-footer__bottom-link"
            data-fr-js-modal-button="true">
      Paramètres d’affichage
    </button>
  </li>

      </ul>
      <div class="fr-footer__bottom-copy">
        <p>
          
          Sauf mention explicite de propriété intellectuelle détenue par des tiers, les contenus de ce site sont proposés sous
          <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md"
             target="_blank"
             rel="noopener external"
             title="Licence etalab-2.0 - Ouvre une nouvelle fenêtre">licence etalab-2.0</a>
          
          
        </p>
      </div>
    </div>
  </div>
</footer>



    
      
<dialog id="fr-theme-modal"
        class="fr-modal"
        aria-labelledby="fr-theme-modal-title">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button class="fr-btn--close fr-btn"
                    aria-describedby="fr-theme-modal-title"
                    aria-controls="fr-theme-modal">
              Fermer
            </button>
          </div>
          <div class="fr-modal__content">
            <h1 id="fr-theme-modal-title" class="fr-modal__title">
              Paramètres d’affichage
            </h1>
            <div id="fr-display" class="fr-form-group fr-display">
              <div class="fr-form-group">
                <fieldset class="fr-fieldset">
                  <legend class="fr-fieldset__legend fr-text--regular" id="-legend">
                    Choisissez un thème pour personnaliser l’apparence du site.
                  </legend>
                  <div class="fr-fieldset__content">
                    <div class="fr-radio-group fr-radio-rich">
                      <input value="light"
                             type="radio"
                             id="fr-radios-theme-light"
                             name="fr-radios-theme" />
                      <label class="fr-label" for="fr-radios-theme-light">
                        Thème clair
                      </label>
                      <div class="fr-radio-rich__img" data-fr-inject-svg>
                        <img src="/django-dsfr/static/dsfr/dist/artwork/light.svg" alt="" />
                        
                      </div>
                    </div>
                    <div class="fr-radio-group fr-radio-rich">
                      <input value="dark"
                             type="radio"
                             id="fr-radios-theme-dark"
                             name="fr-radios-theme" />
                      <label class="fr-label" for="fr-radios-theme-dark">
                        Thème sombre
                      </label>
                      <div class="fr-radio-rich__img" data-fr-inject-svg>
                        <img src="/django-dsfr/static/dsfr/dist/artwork/dark.svg" alt="" />
                        
                      </div>
                    </div>
                    <div class="fr-radio-group fr-radio-rich">
                      <input value="system"
                             type="radio"
                             id="fr-radios-theme-system"
                             name="fr-radios-theme" />
                      <label class="fr-label" for="fr-radios-theme-system">
                        Système
                        <span class="fr-hint-text">Utilise les paramètres système.</span>
                      </label>
                      <div class="fr-radio-rich__img" data-fr-inject-svg>
                        <img src="/django-dsfr/static/dsfr/dist/artwork/system.svg" alt="" />
                        
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>

    

    
<script type="module"
        src="/django-dsfr/static/dsfr/dist/dsfr/dsfr.module.min.js"
        integrity="sha384-dQNRA2VhSeU0SYIKWHja8MGpEF7wm/34WJRVJMHbbUItBgG2yn0JYMdlnKWNsuR8"
         nonce="qr23nCIkGz0t9GFrv5oSDQ=="></script>
<script nomodule
        src="/django-dsfr/static/dsfr/dist/dsfr/dsfr.nomodule.min.js"
        integrity="sha384-Z9sSCL+iZkc22YwU6QRxXGtKnQiiiVLq4aJhoIJNtV0lO9nd12ZwowDrsA/eSxmd"
         nonce="qr23nCIkGz0t9GFrv5oSDQ=="></script>


    
  <script src="/django-dsfr/static/js/common.js">
  </script>

  </body>
</html>
