{% load widget_tweaks %}
{% if field.is_hidden %}
  {{ field.as_hidden }}
{% elif field|widget_type == "checkboxinput" %}
  {% include "dsfr/form_field_snippets/checkbox_snippet.html" %}
{% elif field|widget_type == "checkboxselectmultiple" or field|widget_type == "inlinecheckboxselectmultiple" %}
  {% include "dsfr/form_field_snippets/checkboxselectmultiple_snippet.html" %}
{% elif field|widget_type == "radioselect" or field|widget_type == "inlineradioselect" %}
  {% include "dsfr/form_field_snippets/radioselect_snippet.html" %}
{% elif field|widget_type == "richradioselect" %}
  {% include "dsfr/form_field_snippets/richradioselect_snippet.html" %}
{% elif field|widget_type == "numbercursor" %}
  {% include "dsfr/form_field_snippets/numbercursor_snippet.html" %}
{% elif field|widget_type == "segmentedcontrol" %}
  {% include "dsfr/form_field_snippets/segmented_control_snippet.html" %}
{% else %}
  {% include "dsfr/form_field_snippets/input_snippet.html" %}
{% endif %}
