{% load widget_tweaks %}
{# Generic input snippet used by most of the field types #}
<div class="{{ field.field.widget.group_class|default:'fr-input-group' }}{% if field.errors %} {{ field.field.widget.group_class|default:'fr-input-group' }}--error{% endif %}{% if field.field.disabled %} fr-input-group--disabled{% endif %}">
    {{ field.label_tag }}{% if field.field.required %} *{% endif %}
    {% if field.help_text %}<span class="fr-hint-text">{{ field.help_text }}</span>{% endif %}

    {% if field|widget_type == "dateinput" %}
      <div class="fr-input-wrap fr-icon-calendar-line">
        {{ field }}
      </div>
    {% else %}
      {{ field }}
    {% endif %}

    {% if field.errors %}
      <div id="{{ field.auto_id }}-desc-error" class="fr-error-text">
        {{ field.errors }}
      </div>
    {% endif %}
</div>
