{% load static dsfr_tags %}
<!doctype html>
<html lang="fr" data-fr-theme="default">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  {% dsfr_css %}
  {% dsfr_favicon %}
  {% block extra_css %}{% endblock %}

  {% block  title %}
  <title>
    {% if title %}
      {{ title }} — Design Système de l’État
    {% else %}
      Design Système de l’État
    {% endif %}
  </title>
  {% endblock title %}
</head>

<body>
  <main id="content">
    {% include "example_app/blocks/header.html" %}
    {% dsfr_theme_modale %}

    <div class="fr-container fr-mt-4w fr-mb-6w">
      {% dsfr_breadcrumb %}

      {% block content %}{% endblock %}
    </div>

    {% include "dsfr/footer.html" %}
  </main>

  {% dsfr_js %}
  {% block extra_js %}{% endblock %}
</body>

</html>