{% extends "example_app/base.html" %}
{% load static dsfr_tags %}
{% block content %}
  <h1>
    Composants du système de design de l’État
  </h1>
  <div class="fr-tabs">
    <ul class="fr-tabs__list" role="tablist" aria-label="Composants">
      <li role="presentation">
        <button id="tabpanel-implemented"
                class="fr-tabs__tab fr-icon-checkbox-line fr-tabs__tab--icon-left"
                tabindex="0"
                role="tab"
                aria-selected="true"
                aria-controls="tabpanel-implemented-panel">
          Composants implémentés
        </button>
      </li>
      <li role="presentation">
        <button id="tabpanel-notyetimplemented"
                class="fr-tabs__tab fr-icon-close-circle-line fr-tabs__tab--icon-left"
                tabindex="-1"
                role="tab"
                aria-selected="false"
                aria-controls="tabpanel-notyetimplemented-panel">
          Composants encore non implémentés
        </button>
      </li>
      <li role="presentation">
        <button id="tabpanel-extratags"
                class="fr-tabs__tab fr-icon-add-circle-line fr-tabs__tab--icon-left"
                tabindex="-1"
                role="tab"
                aria-selected="false"
                aria-controls="tabpanel-extratags-panel">
          Balises supplémentaires
        </button>
      </li>
      <li role="presentation">
        <button id="tabpanel-documentation"
                class="fr-tabs__tab fr-icon-book-2-line fr-tabs__tab--icon-left"
                tabindex="0"
                role="tab"
                aria-selected="false"
                aria-controls="tabpanel-documentation-panel">
          Documentation
        </button>
      </li>
    </ul>
    <div id="tabpanel-implemented-panel"
         class="fr-tabs__panel fr-tabs__panel--selected"
         role="tabpanel"
         aria-labelledby="tabpanel-implemented"
         tabindex="0">
      <h2>
        Composants implémentés
      </h2>
      <ul>
        {% for tag, data in implemented_tags.items %}
          <li class="fr-mb-1w">
            <a href="{% url 'page_component' tag %}">{{ data.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div id="tabpanel-notyetimplemented-panel"
         class="fr-tabs__panel"
         role="tabpanel"
         aria-labelledby="tabpanel-notyetimplemented"
         tabindex="0">
      <h2>
        Composants encore non implémentés
      </h2>
      <ul>
        {% for tag, data in not_yet.items %}
          <li class="fr-mb-1w">
            {{ data.title }}
            (<a href="{{ data.doc_url }}" target="_blank" rel="noopener">Documentation <span class="fr-sr-only">Ouvre une nouvelle fenêtre</span></a>
            —
            <a href="{{ data.example }}" target="_blank" rel="noopener">Exemple <span class="fr-sr-only">Ouvre une nouvelle fenêtre</span></a>)
          </li>
        {% endfor %}
      </ul>
    </div>
    <div id="tabpanel-extratags-panel"
         class="fr-tabs__panel"
         role="tabpanel"
         aria-labelledby="tabpanel-extratags"
         tabindex="0">
      <h2>
        Balises supplémentaires
      </h2>
      <ul>
        {% for component, data in extra_components.items %}
          <li class="fr-mb-1w">
            <a href="{% url 'page_component' component %}">{{ data.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <h2>
        En-tête et pied de page
      </h2>
      <ul>
        <li>
          <a href="{% url 'page_component_header' %}">En-tête (header)</a>
        </li>
        <li>
          <a href="{% url 'page_component_footer' %}">Pied de page (footer)</a>
        </li>
      </ul>
    </div>
    <div id="tabpanel-documentation-panel"
         class="fr-tabs__panel"
         role="tabpanel"
         aria-labelledby="tabpanel-documentation"
         tabindex="0">
      <h2>
        Documentation
      </h2>
      <ul>
        {{ documentation|safe }}
      </ul>
    </div>
  </div>
{% endblock content %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/dsfr-code.css' %}">
{% endblock extra_css %}
