{% extends "example_app/base.html" %}
{% load static dsfr_tags %}
{% block content %}
  <h1>
    Couleurs
  </h1>
  <ul class="fr-mb-4w">
    <li>
      <a class="fr-link fr-icon-external-link-line fr-link--icon-right fr-link--lg"
         href="https://www.systeme-de-design.gouv.fr/version-courante/fr/fondamentaux/couleurs--palette"
         target="_blank"
         rel="noopener noreferrer">
        Voir la page de présentation de la palette de couleurs sur le Système de Design de l’État <span class="fr-sr-only">Ouvre une nouvelle fenêtre</span>
      </a>
    </li>
    <li>
      <a class="fr-link fr-icon-external-link-line fr-link--icon-right fr-link--lg"
         href="https://www.systeme-de-design.gouv.fr/version-courante/fr/fondamentaux/couleurs--utilisation-dans-le-dsfr"
         target="_blank"
         rel="noopener noreferrer">
        Voir la page de règles d’utilisation de la palette de couleurs sur le Système de Design de l’État <span class="fr-sr-only">Ouvre une nouvelle fenêtre</span>
      </a>
    </li>
  </ul>
  <h2>
    Cartes et tuiles
  </h2>
  <p>
    Les cartes et tuiles peuvent prendre un fond gris à la place de la couleur par défaut, respectivement avec les classes <code>fr-card--grey</code> et <code>fr-tile--grey</code>.
  </p>
  <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
    <div class="fr-col-12 fr-col-md-6">
      {% dsfr_card components_data.card.sample_data.0 %}
    </div>
    <div class="fr-col-12 fr-col-md-6">
      {% dsfr_card components_data.card.sample_data.0 extra_classes="fr-card--grey" %}
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters fr-mb-4w">
    <div class="fr-col-12 fr-col-md-3">
      {% dsfr_tile components_data.tile.sample_data.0 %}
    </div>
    <div class="fr-col-12 fr-col-md-3">
      {% dsfr_tile components_data.tile.sample_data.0 extra_classes="fr-tile--grey" %}
    </div>
    <div class="fr-col-12 fr-col-md-3">
      {% dsfr_tile components_data.tile.sample_data.0 %}
    </div>
    <div class="fr-col-12 fr-col-md-3">
      {% dsfr_tile components_data.tile.sample_data.0 extra_classes="fr-tile--grey" %}
    </div>
  </div>

  <h2>
    Couleurs de fond
  </h2>
  <form class="fr-mb-4w">
    {{ full_color_form }}
  </form>
  <p>
    Il est possible de changer la couleur de fond d’un paragraphe ou d’une div. Les couleurs primaires, neutres et illustratives sont prises en compte.
  </p>

  <p>
    Il faut utiliser une classe de type <code>fr-background-alt--&lt;color-name&gt;</code> (par exemple, <code>fr-background-alt--<span class="example-color-name-full">green-archipel</span></code>.)
  </p>

  <div class="fr-background-alt fr-px-2w fr-pt-2w fr-pb-2v fr-mb-2w">
    {# (La classe fr-background-alt n’est pas nécessaire, elle est utilisée ici pour le script de changement de couleur en fonction du formulaire) #}
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Optio tempore atque quis nulla repellat dolores quibusdam temporibus laborum velit rerum aliquam amet recusandae consectetur voluptas,
      quasi asperiores veniam excepturi ipsam.
    </p>
    <p>
      Totam harum magni quis laudantium esse? Quod, tenetur nobis ab nostrum minus rerum magnam? Tempora provident distinctio fugit sunt, rem magni harum?
      Minus explicabo repudiandae placeat suscipit! Earum provident facere, unde quam recusandae cumque neque quas porro dolor a natus labore delectus vel necessitatibus.
    </p>
  </div>

  <h2>
    Couleurs d’accentuation
  </h2>
  <p>
    Certains composants prennent une couleur d’accentuation comme paramètre. Seules les couleurs illustratives sont prises en compte.
  </p>
  <form class="fr-mb-4w">
    {{ accent_color_form }}
  </form>
  <div class="example-use">
    <h3>
      Badge
    </h3>
    <p>
      Personnalise la couleur du fond et du texte.
    </p>
    <p>
      Il faut utiliser une classe de type <code>fr-badge--&lt;color-name&gt;</code> (par exemple, <code>fr-badge--<span class="example-color-name-accent">green-archipel</span></code>.)
    </p>

    {% dsfr_badge components_data.badge.sample_data.0 %}

    <h3>
      Citation
    </h3>
    <p>
      Personnalise la couleur de l’icône.
    </p>
    <p>
      Il faut utiliser une classe de type <code>fr-quote--&lt;color-name&gt;</code> (par exemple, <code>fr-quote--<span class="example-color-name-accent">green-archipel</span></code>.)
    </p>
    {% dsfr_quote components_data.quote.sample_data.0 %}

    <h3>
      Mise en avant
    </h3>
    <p>
      Personnalise la couleur du fond et de la bordure.
    </p>
    <p>
      Il faut utiliser une classe de type <code>fr-callout--&lt;color-name&gt;</code> (par exemple, <code>fr-callout--<span class="example-color-name-accent">green-archipel</span></code>.)
    </p>
    {% dsfr_callout components_data.callout.sample_data.0 %}

    <h3>
      Mise en exergue
    </h3>
    <p>
      Personnalise la couleur de la bordure.
    </p>
    <p>
      Il faut utiliser une classe de type <code>fr-highlight--&lt;color-name&gt;</code> (par exemple, <code>fr-highlight--<span class="example-color-name-accent">green-archipel</span></code>.)
    </p>
    {% dsfr_highlight components_data.highlight.sample_data.0 %}

    <h3>
      Tag
    </h3>
    <p>
      Personnalise la couleur du fond, du texte et de l’icône. Seuls les tags cliquables sont pris en compte.
    </p>
    <p>
      Il faut utiliser une classe de type <code>fr-tag--&lt;color-name&gt;</code> (par exemple, <code>fr-tag--<span class="example-color-name-accent">green-archipel</span></code>.)
    </p>
    <ul class="fr-tags-group">
      <li>
        {% dsfr_tag components_data.tag.sample_data.1 %}
      </li>
      <li>
        {% dsfr_tag components_data.tag.sample_data.3 %}
      </li>
    </ul>
  </div>
{% endblock content %}
{% block extra_js %}
  <script nonce="{{ request.csp_nonce }}">
    const colors_list = [
      "blue-france",
      "red-marianne",
      "grey",
      "green-tilleul-verveine",
      "green-bourgeon",
      "green-emeraude",
      "green-menthe",
      "green-archipel",
      "blue-ecume",
      "blue-cumulus",
      "purple-glycine",
      "pink-macaron",
      "pink-tuile",
      "yellow-tournesol",
      "yellow-moutarde",
      "orange-terre-battue",
      "brown-cafe-creme",
      "brown-caramel",
      "brown-opera",
      "beige-gris-galet",
    ];


    function manageColorClasses(base_class, color) {
      const items = document.getElementsByClassName(base_class);

      let item_color_classes = [];
      for (let c of colors_list) {
        item_color_classes.push(base_class + "--" + c);
      }

      for (const item of items) {
        item.classList.remove(...item_color_classes)

        if (color !== "") {
          item.classList.add(base_class + "--" + color);
        }
      }
    }

    function manageExampleColorNames(color, group) {
      if (color == "") {
        color = "green-archipel"
      }
      const collection = document.getElementsByClassName("example-color-name-" + group);
      for (const element of collection){
        element.innerHTML= color;
      }
    }

    document.getElementById('id_color_accent').addEventListener('input', function (event) {
      manageColorClasses("fr-badge", event.target.value);
      manageColorClasses("fr-quote", event.target.value);
      manageColorClasses("fr-callout", event.target.value);
      manageColorClasses("fr-highlight", event.target.value);
      manageColorClasses("fr-tag", event.target.value);
      manageExampleColorNames(event.target.value, "accent");
    }, false);

    document.getElementById('id_color_full').addEventListener('input', function (event) {
      manageColorClasses("fr-background-alt", event.target.value);
      manageExampleColorNames(event.target.value, "full");
    }, false);

  </script>
{% endblock extra_js %}
