{% extends "example_app/base.html" %}
{% load static dsfr_tags %}
{% block content %}
  <h1>
    Icônes
  </h1>
  <div class="fr-mb-4w">
    {% dsfr_summary summary %}
  </div>
  <ul>
    <li>
      <a class="fr-link fr-icon-external-link-line fr-link--icon-right fr-link--lg"
         href="https://www.systeme-de-design.gouv.fr/elements-d-interface/fondamentaux-techniques/icone/"
         target="_blank"
         rel="noopener noreferrer">
        Voir la page de documentation du composant sur le Système de Design de l’État <span class="fr-sr-only">Ouvre une nouvelle fenêtre</span>
      </a>
    </li>
    <li>
      <a class="fr-link fr-icon-external-link-line fr-link--icon-right fr-link--lg"
         href="https://main--ds-gouv.netlify.app/example/utility/icons/"
         target="_blank"
         rel="noopener noreferrer">
        Voir la page sur le site d’exemples du Système de Design de l’État <span class="fr-sr-only">Ouvre une nouvelle fenêtre</span>
      </a>
    </li>
  </ul>
  <p>
    Cliquer sur une icône ci-dessous pour copier le nom de sa classe.
  </p>
  {% for folder, items in icons.items %}
    <h2 id="{{ folder|slugify }}" tabindex="-1">
      {{ folder|title }}
    </h2>
    <div class="fr-mb-4w">
      {% for item in items %}
        <span class="fr-icon-{{ item }} click-to-copy"
              title="fr-icon-{{ item }}"
              aria-hidden="true"></span>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock content %}
{% block extra_js %}
  <script type="text/javascript">
    let iconSpans = document.getElementsByClassName("click-to-copy");
    for (let iconSpan of iconSpans) {
      iconSpan.addEventListener("click", function(){
        navigator.clipboard.writeText(this.title);
      })
    }
  </script>
{% endblock extra_js %}
