{% extends "example_app/base.html" %}
{% load static dsfr_tags %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/dsfr-code.css' %}">
  <style>
    .example-textarea {
      background: var(--background-alt-grey);
      border: 1px solid var(--border-default-grey);
      color: var(--text-default-grey);
      padding: 1rem;
      margin: 2rem 0;
      font-family: monospace;
      font-size: 1rem;
    }

    p code, li code {
      background: var(--background-alt-grey);
      padding: 0.2em;
    }
  </style>
{% endblock extra_css %}

{% block content %}
  <div class="fr-grid-row fr-grid-row--gutters fr-b__two-col">
    <div class="fr-col-12 fr-col-md-4">
      {% dsfr_sidemenu side_menu extra_classes="" %}
    </div>
    <div class="fr-col-12 fr-col-md-8 fr-py-2w">
      <h1>
        {{ title }}
      </h1>
      <ul>
        {% if doc_url %}
          <li>
            {% dsfr_link url=doc_url label="Voir la page de documentation du composant sur le Système de Design de l’État" is_external=True extra_classes="fr-link--lg" %}
          </li>
        {% endif %}
        {% if example_url %}
          <li>
            {% dsfr_link url=example_url label="Voir la page d’exemple du Système de Design de l’État" is_external=True extra_classes="fr-link--lg" %}
          </li>
        {% endif %}
        {% if storybook_url %}
          <li>
            {% dsfr_link url=storybook_url label="Voir la page du composant sur Storybook" is_external=True extra_classes="fr-link--lg" %}
          </li>
        {% endif %}
      </ul>
      <h2>
        Documentation du tag
      </h2>
      {{ tag_comment|safe }}
      {% if sample_data %}
        <h2>
          Exemples
        </h2>
        {% for sample_data_item in sample_data %}
          <h3 class="fr-mt-3w">
            Exemple {{ forloop.counter }}
          </h3>
          <div class="fr-my-2w">
            {# djlint:off #}
            {% with sample_data_item|escape as raw_sample_code %}
              {# djlint:off #}
              {% with '<pre class="dsfr-code">'|concatenate:raw_sample_code|concatenate:"</pre>" as sample_data_code %}
                {% dsfr_accordion title="Données de l’exemple" content=sample_data_code %}
              {% endwith %}
            {% endwith %}
            {# djlint:on #}
          </div>
          {% if tag_name == "accordion" %}
            {% dsfr_accordion sample_data_item %}
          {% elif tag_name == "accordion_group" %}
            {% dsfr_accordion_group sample_data_item %}
          {% elif tag_name == "alert" %}
            {% dsfr_alert sample_data_item %}
          {% elif tag_name == "badge" %}
            {% dsfr_badge sample_data_item %}
          {% elif tag_name == "badge_group" %}
            {% dsfr_badge_group sample_data_item %}
          {% elif tag_name == "button" %}
            {% dsfr_button sample_data_item %}
          {% elif tag_name == "button_group" %}
            {% dsfr_button_group sample_data_item %}
          {% elif tag_name == "callout" %}
            {% dsfr_callout sample_data_item %}
          {% elif tag_name == "card" %}
            {% if "horizontal" in sample_data_item.extra_classes %}
              <div class="fr-grid-row fr-grid-row--gutters">
                {% dsfr_card sample_data_item %}
              </div>
            {% else %}
              <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-md-6">
                  {% dsfr_card sample_data_item %}
                </div>
              </div>
            {% endif %}
          {% elif tag_name == "consent" %}
            <p>
              Voir en bas de votre écran.
            </p>
            {% dsfr_consent sample_data_item %}
          {% elif tag_name == "content" %}
            {% dsfr_content sample_data_item %}
          {% elif tag_name == "django_messages" %}
            {% dsfr_django_messages sample_data_item %}
          {% elif tag_name == "france_connect" %}
            {% dsfr_france_connect sample_data_item %}
          {% elif tag_name == "highlight" %}
            {% dsfr_highlight sample_data_item %}
          {% elif tag_name == "input" %}
            {% dsfr_input sample_data_item %}
          {% elif tag_name == "link" %}
            {% dsfr_link sample_data_item %}
          {% elif tag_name == "notice" %}
            {% dsfr_notice sample_data_item %}
          {% elif tag_name == "quote" %}
            {% dsfr_quote sample_data_item %}
          {% elif tag_name == "select" %}
            {% dsfr_select sample_data_item %}
          {% elif tag_name == "sidemenu" %}
            {% dsfr_sidemenu sample_data_item %}
          {% elif tag_name == "skiplinks" %}
            {% dsfr_skiplinks sample_data_item %}
          {% elif tag_name == "stepper" %}
            {% dsfr_stepper sample_data_item %}
          {% elif tag_name == "summary" %}
            {% dsfr_summary sample_data_item %}
          {% elif tag_name == "table" %}
            {% dsfr_table sample_data_item %}
          {% elif tag_name == "tag" %}
            {% dsfr_tag sample_data_item %}
          {% elif tag_name == "tile" %}
            <div class="fr-grid-row fr-grid-row--gutters">
              <div class="fr-col-12">
                {% dsfr_tile sample_data_item %}
              </div>
            </div>
          {% elif tag_name == "toggle" %}
            {% dsfr_toggle sample_data_item %}
          {% elif tag_name == "tooltip" %}
            {% dsfr_tooltip sample_data_item %}
          {% elif tag_name == "transcription" %}
            {% dsfr_transcription sample_data_item %}
          {% endif %}
        {% endfor %}
      {% else %}
        <h2>
          Rendu
        </h2>
        {% if tag_name == "breadcrumb" %}
          {% dsfr_breadcrumb %}
        {% elif tag_name == "css" %}
          <label for="example-textarea">
            Code source :
          </label>
          <textarea id="example-textarea"
                    readonly
                    rows="8"
                    cols="90"
                    class="example-textarea">{% dsfr_css %}</textarea>
          <br />
        {% elif tag_name == "favicon" %}
          <img src="/django-dsfr/static/dsfr/dist/favicon/favicon.svg"
               width="24"
               alt="" />
          <br clear="both" />
          <label for="example-textarea">
            Code source :
          </label>
          <textarea id="example-textarea"
                    readonly
                    rows="14"
                    cols="90"
                    class="example-textarea">{% dsfr_favicon %}</textarea>
          <br />
        {% elif tag_name == "js" %}
          <label for="example-textarea">
            Code source :
          </label>
          <textarea id="example-textarea"
                    readonly
                    rows="6"
                    cols="90"
                    class="example-textarea">{% dsfr_js %}</textarea>
          <br />
        {% elif tag_name == "pagination" %}
          {% dsfr_pagination page_obj %}
        {% elif tag_name == "theme_modale" %}
          <label for="example-textarea">
            Code source :
          </label>
          <textarea id="example-textarea"
                    readonly
                    rows="62"
                    cols="120"
                    class="example-textarea">{% dsfr_theme_modale %}</textarea>
          <br />
        {% endif %}
      {% endif %}
    </div>
  </div>
  <br />
{% endblock content %}
