{% extends "example_app/base.html" %}
{% load static dsfr_tags %}

{% block content %}
  <h1>Design System de l‘État</h1>
  <div class="fr-grid-row">
    <div class="fr-col-6">
      <h2>Composants implémentés</h2>
      <ul>
        {% for tag, data in implemented_tags.items %}
          <li class="fr-mb-1w">
            <a href="{% url 'page_tag' tag %}">{{ data.title }}</a>
          </li>
        {% endfor %}
      </ul>

      <h2>Tags supplémentaires</h2>
      <ul>
        {% for tag, data in extra_tags.items %}
          <li class="fr-mb-1w">
            <a href="{% url 'page_tag' tag %}">{{ data.title }}</a>
          </li>
        {% endfor %}
      </ul>
      
      <h2>En-tête et pied de page</h2>
      <p>Les composants « En-tête (header) » et « Pied de page (footer) » sont actuellement gérés avec 
      des balises include ({% verbatim %} {% include "dsfr/header.html" %} et {% include "dsfr/footer.html" %}{% endverbatim %})
      et non des tags.</p> 
    </div>

    <div class="fr-col-6">
      <h2>Composants encore non implémentés</h2>
      <ul>
        {% for tag, data in not_yet.items %}
          <li class="fr-mb-1w">
            <a href="{{ data.doc_url }}" target="_blank" rel="noopener">{{ data.title }} <span class="fr-sr-only">Ouvre une nouvelle fenêtre</span></a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}